@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Category>
@{ 
    List<Category> list = new List<Category>();
    if(ViewBag.list!=null)
    {
        list = ViewBag.list;
    }
    List<Product> list1 = new List<Product>();
    if(ViewBag.listpro != null)
    {
        list1 = ViewBag.listpro;
    }
    List<Image> list2 = new List<Image>();
    if (ViewBag.listimg != null)
    {
        list2 = ViewBag.listimg;
    }
	
}
<body class="res layout-subpage banners-effect-6">
	<div id="wrapper" class="wrapper-full ">
	<!-- Slider  -->
	<section class="so-slideshow">
		<div id="so-slideshow">
			<div class="module  no-margin">
				<div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
					data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
					data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
					data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
					<div class="yt-content-slide">
						<a href="#"><img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
								class="img-responsive"></a><br>
					</div>
				</div>
				<div class="loadeding"></div>
			</div>
		</div>

	</section>
	<!-- //end Slider  -->
		<!-- Main Container  -->
		<div class="main-container container">
			<ul class="breadcrumb">
				<li><a href="#"><i class="fa fa-home"></i></a></li>
				<li><a href="#">Tên danh mục</a></li>
			</ul>

			<div class="row">
				<!--Left Part Start -->
				<aside class="col-sm-4 col-md-3" id="column-left">
					<div class="module menu-category titleLine">
						<h3 class="modtitle">Danh mục</h3>
						<div class="modcontent">
							<div class="box-category">
                                <ul id="cat_accordion" class="list-group">
                                    @foreach (var item in Model)
                                    {
                                        <li class="hadchild">
                                            <a class="cutom-parent">@item.name_cat</a>
                                            <span class="button-view  fa fa-plus-square-o"></span>
                                            <ul style="display: block;">
                                                @foreach (var item1 in list)
                                                {
                                                    if (item1.id_parent == item.id_cat)
                                                    {
                                                        <li><a href="category?id=@item1.id_cat">@item1.name_cat</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }

                                </ul>

                            </div>



                        </div>

                    </div>

                    <div class="module latest-product titleLine">
						<h3 class="modtitle">Bán chạy</h3>
						<div class="modcontent ">
							<div class="product-latest-item">
								<div class="media">
									<div class="media-left">
										<a href="#"><img src="~/image/demo/shop/product/m1.jpg" alt="Cisi Chicken"
												title="Cisi Chicken" class="img-responsive"
												style="width: 100px; height: 82px;"></a>
									</div>
									<div class="media-body">
										<div class="caption">
											<h4><a href="#">Sản phẩm 1</a></h4>

											<div class="price">
												<span class="price-new">100.000đ</span>
											</div>
											<div class="ratings">
												<div class="rating-box">
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="product-latest-item">
								<div class="media">
									<div class="media-left">
										<a href="#"><img src="~/image/demo/shop/product/m2.jpg" alt="Cisi Chicken"
												title="Cisi Chicken" class="img-responsive"
												style="width: 100px; height: 82px;"></a>
									</div>
									<div class="media-body">
										<div class="caption">
											<h4><a href="#">Sản phẩm 2</a></h4>

											<div class="price">
												<span class="price-new">50.000đ</span>
											</div>
											<div class="ratings">
												<div class="rating-box">
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="product-latest-item">
								<div class="media">
									<div class="media-left">
										<a href="#"><img src="~/image/demo/shop/product/18.jpg" alt="Cisi Chicken"
												title="Cisi Chicken" class="img-responsive"
												style="width: 100px; height: 82px;"></a>
									</div>
									<div class="media-body">
										<div class="caption">
											<h4><a href="#">Sản phẩm 3</a></h4>

											<div class="price">
												<span class="price-new">50.000đ</span>
											</div>
											<div class="ratings">
												<div class="rating-box">
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
							<div class="product-latest-item transition">
								<div class="media">
									<div class="media-left">
										<a href="#"><img src="~/image/demo/shop/product/9.jpg" alt="Cisi Chicken"
												title="Cisi Chicken" class="img-responsive"
												style="width: 100px; height:82px;"></a>
									</div>
									<div class="media-body">
										<div class="caption">
											<h4><a href="#">Sản phẩm 4</a></h4>

											<div class="price">
												<span class="price-new">50.000đ</span>
											</div>
											<div class="ratings">
												<div class="rating-box">
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
													<span class="fa fa-stack"><i
                                                            class="fa fa-star-o fa-stack-1x"></i></span>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>


						</div>

					</div>
					<div class="module">
						<div class="modcontent clearfix">
							<div class="banners">
								<div>
									<a href="#"><img src="~/image/demo/cms/left-image-static.png" alt="left-image"></a>
								</div>
							</div>

						</div>
					</div>
				</aside>
				<!--Left Part End -->

				<!--Middle Part Start-->
				<div id="content" class="col-md-9 col-sm-8">
					<div class="products-category">
						<div class="category-derc">
							<div class="row">
								<div class="col-sm-12">
									<div class="banners">
										<div>
											<a href="#"><img src="~/image/demo/shop/category/electronic-cat.png"
													alt=""><br></a>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- Filters -->
						<div class="product-filter filters-panel">
							<div class="row">
								<div class="col-md-2 visible-lg">
									<div class="view-mode">
										<div class="list-view">
											<button class="btn btn-default grid active" data-view="grid"
												data-toggle="tooltip" data-original-title="Xem theo ô"><i
                                                    class="fa fa-th"></i></button>
											<button class="btn btn-default list" data-view="list" data-toggle="tooltip"
												data-original-title="Xem theo danh sách"><i
                                                    class="fa fa-th-list"></i></button>
										</div>
									</div>
								</div>
								<div class="short-by-show form-inline text-right col-md-7 col-sm-8 col-xs-12">
									<div class="form-group short-by">
										<label class="control-label" for="input-sort">Sắp xếp theo:</label>
										<select id="input-sort" class="form-control" onchange="location = this.value;">
											<option value="" selected="selected">Mặc định</option>
											<option value="">Tên (A - Z)</option>

                                            <option value="">Tên (Z - A)</option>

                                            <option value="">Giá (Thấp &gt; Cao)</option>
											<option value="">Giá (Cao &gt; Thấp)</option>
											<option value="">Rating (Cao nhất)</option>

                                            <option value="">Rating (Thấp nhất)</option>
										</select>
									</div>
									<div class="form-group">
										<label class="control-label" for="input-limit">Hiển thị:</label>
										<select id="input-limit" class="form-control" onchange="location = this.value;">
											<option value="" selected="selected">9</option>
											<option value="">25</option>

                                            <option value="">50</option>
											<option value="">75</option>

                                            <option value="">100</option>
										</select>
									</div>
								</div>
								<div class="box-pagination col-md-3 col-sm-4 col-xs-12 text-right">
									<ul class="pagination">
										<li class="active"><span>1</span></li>
										<li><a href="">2</a></li>

                                        <li><a href="">&gt;</a></li>
										<li><a href="">&gt;|</a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- //end Filters -->
						<!--changed listings-->
                        <div class="products-list row grid">
                            @foreach (var item2 in list1)
                            {
                                if (item2.sale_rate > 0)
                                {
                                    @foreach (var item3 in list2)
                                    {
                                        if (item3.id_img == item2.id_img)
                                        {
                                            <div class="product-layout col-md-4 col-sm-6 col-xs-12 ">
                                                <div class="product-item-container">
                                                    <div class="left-block">
                                                        <div class="product-image-container second_img ">
                                                            <img src="@item3.link"
                                                                 alt="Apple Cinema 30&quot;" class="img-responsive" />

                                                        </div>
                                                        <!--Giảm giá Label-->
                                                        <span class="label label-sale">Giảm giá</span>
                                                        <!--countdown box-->
                                                        <!--end countdown box-->
                                                        <!--full quick view block-->
                                                        <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                                           href="quickview.html"> Xem nhanh</a>
                                                        <!--end full quick view block-->
                                                    </div>


                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <h4><a href="product_detail/?idpro=@item2.id_pro&idcat=@item2.id_cat">@item2.name_pro</a></h4>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="price">
                                                                @{
                                                                    double price_old = (@item2.price * (100 + @item2.sale_rate) / 100);
                                                                    double price_new = (@item2.price * (100 + @item2.sale_rate) / 100 * ((100 - @item2.discount) / 100));

                                                                    <span class="price-new">@String.Format("{0:0,0 vnđ}", price_new)</span>
                                                                    <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                                    <span class="label label-percent">@item2.discount%</span>
                                                                }
                                                            </div>
                                                            <div class="description item-desc hidden">
                                                                <p>Mô tả. </p>
                                                            </div>
                                                        </div>

                                                        <div class="button-group">
                                                            <button class="addToCart" type="button" data-toggle="tooltip"
                                                                    title="Thêm vào giỏ hàng" onclick="cart.add('42', '1');">
                                                                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                            </button>
                                                            <button class="wishlist" type="button" data-toggle="tooltip"
                                                                    title="Thêm vào danh sách yêu thích" onclick="wishlist.add('42');">
                                                                <i class="fa fa-heart"></i>
                                                            </button>
                                                            <button class="compare" type="button" data-toggle="tooltip"
                                                                    title="So sánh sản phẩm" onclick="compare.add('42');">
                                                                <i class="fa fa-exchange"></i>
                                                            </button>
                                                        </div>
                                                    </div><!-- right block -->

                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }
                                else
                                {
                                    @foreach (var item3 in list2)
                                    {
                                        if (item3.id_img == item2.id_img)
                                        {
                                            <div class="product-layout col-md-4 col-sm-6 col-xs-12 ">
                                                <div class="product-item-container">
                                                    <div class="left-block">
                                                        <div class="product-image-container second_img ">
                                                            <img src="@item3.link"
                                                                 alt="Apple Cinema 30&quot;" class="img-responsive" />

                                                        </div>
                                                        <!--Giảm giá Label-->
                                                        <span class="label label-sale">Giảm giá</span>
                                                        <!--countdown box-->
                                                        <!--end countdown box-->
                                                        <!--full quick view block-->
                                                        <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                                           href="quickview.html"> Xem nhanh</a>
                                                        <!--end full quick view block-->
                                                    </div>


                                                    <div class="right-block">
                                                        <div class="caption">
                                                            <h4><a href="product_detail/?idpro=@item2.id_pro&idcat=@item2.id_cat">@item2.name_pro</a></h4>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                            <div class="price">
                                                                @{
                                                                    double price_old = (@item2.price * (100 + @item2.sale_rate) / 100);
                                                                    double price_new = (@item2.price * (100 + @item2.sale_rate) / 100 * ((100 - @item2.discount) / 100));
                                                                    <span class="price-new">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                                }
                                                            </div>
                                                            <div class="description item-desc hidden">
                                                                <p>Mô tả. </p>
                                                            </div>
                                                        </div>

                                                        <div class="button-group">
                                                            <button class="addToCart" type="button" data-toggle="tooltip"
                                                                    title="Thêm vào giỏ hàng" onclick="cart.add('42', '1');">
                                                                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                            </button>
                                                            <button class="wishlist" type="button" data-toggle="tooltip"
                                                                    title="Thêm vào danh sách yêu thích" onclick="wishlist.add('42');">
                                                                <i class="fa fa-heart"></i>
                                                            </button>
                                                            <button class="compare" type="button" data-toggle="tooltip"
                                                                    title="So sánh sản phẩm" onclick="compare.add('42');">
                                                                <i class="fa fa-exchange"></i>
                                                            </button>
                                                        </div>
                                                    </div><!-- right block -->

                                                </div>
                                            </div>
                                            break;
                                        }
                                    }
                                }

                            }

                            <div class="clearfix visible-xs-block"></div>

                            <!--// End Changed listings-->
                            <!-- Filters -->
                            <div class="product-filter product-filter-bottom filters-panel">
                                <div class="row">
                                    <div class="col-md-2 hidden-sm hidden-xs">
                                    </div>
                                    <div class="short-by-show text-center col-md-7 col-sm-8 col-xs-12">
                                        <div class="form-group" style="margin: 7px 10px">
                                            Hiển thị từ 1 đến 9 trong 10 sản phẩm (2 Trang)
                                        </div>
                                    </div>
                                    <div class="box-pagination col-md-3 col-sm-4 text-right">
                                        <ul class="pagination">
                                            <li class="active"><span>1</span></li>
                                            <li><a href="#">2</a></li>

                                            <li><a href="#">&gt;</a></li>
                                            <li><a href="#">&gt;|</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <!-- //end Filters -->
                        </div>
				</div>
			</div>
			<!--Middle Part End-->
		</div>
		<!-- //Main Container -->

	</div>


	<!-- Cpanel Block -->
	<!-- <div id="sp-cpanel_btn" class="isDown visible-lg">
		<i class="fa fa-cog"></i>
	</div> -->

	<script type="text/javascript">
	// Kiểm tra có Cookies hay chưa
		if ($.cookie('display')) {
			view = $.cookie('display');
		} else {
			view = 'grid';
		}
		if (view) display(view);
	</script>
</body>