@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Category> list = new List<Category>();
    List<Category> listCat = new List<Category>();
    if (ViewBag.list != null)
    {
        list = ViewBag.list;
    }
    if (ViewBag.listCat != null)
    {
        listCat = ViewBag.listCat;
    }
    List<Product> list1 = new List<Product>();
    if (ViewBag.data != null)
    {
        list1 = ViewBag.data;
    }
    List<Image_product> list2 = new List<Image_product>();
    List<Image_product> listimg1 = new List<Image_product>();
    if (ViewBag.listimg != null)
    {
        list2 = ViewBag.listimg;
    }
    Category cat = new Category();
    if (ViewBag.cat != null)
    {
        cat = ViewBag.cat;
    }
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.currentPage;
    }
}
<body class="res layout-subpage banners-effect-6">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a href="#">
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>
        </section>
        <!-- //end Slider  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
                <li><a asp-controller="home" asp-action="category" asp-route-id="@cat.id_cat">@cat.name_cat</a></li>
            </ul>
            <div class="row">
                <!--Left Part Start -->
                <aside class="col-sm-4 col-md-3" id="column-left">
                    <div class="module menu-category titleLine">
                        <h3 class="modtitle">Danh mục</h3>
                        <div class="modcontent">
                            <div class="box-category">
                                <ul id="cat_accordion" class="list-group">
                                    @foreach (var item in listCat)
                                    {
                                        <li class="hadchild">
                                            <a class="cutom-parent">@item.name_cat</a>
                                            <span class="button-view  fa fa-plus-square-o"></span>
                                            <ul style="display: block;">
                                                @foreach (var item1 in list)
                                                {
                                                    if (item1.id_parent == item.id_cat)
                                                    {
                                                        <li><a asp-controller="home" asp-action="category" asp-route-id="@item.id_cat">@item1.name_cat</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="module latest-product titleLine">
                        <h3 class="modtitle">Bán chạy</h3>
                        <div class="modcontent ">
                            <div class="product-latest-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="~/image/demo/shop/product/m1.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height: 82px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4><a href="#">Sản phẩm 1</a></h4>

                                            <div class="price">
                                                <span class="price-new">100.000đ</span>
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-latest-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="~/image/demo/shop/product/m2.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height: 82px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4><a href="#">Sản phẩm 2</a></h4>

                                            <div class="price">
                                                <span class="price-new">50.000đ</span>
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="product-latest-item">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="~/image/demo/shop/product/18.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height: 82px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4><a href="#">Sản phẩm 3</a></h4>

                                            <div class="price">
                                                <span class="price-new">50.000đ</span>
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-latest-item transition">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img src="~/image/demo/shop/product/9.jpg" alt="Cisi Chicken"
                                                 title="Cisi Chicken" class="img-responsive"
                                                 style="width: 100px; height:82px;">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <div class="caption">
                                            <h4><a href="#">Sản phẩm 4</a></h4>

                                            <div class="price">
                                                <span class="price-new">50.000đ</span>
                                            </div>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                    <span class="fa fa-stack">
                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="module">
                        <div class="modcontent clearfix">
                            <div class="banners">
                                <div>
                                    <a href="#"><img src="~/image/demo/cms/left-image-static.png" alt="left-image"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </aside>
                <!--Left Part End -->
                <!--Middle Part Start-->
                <div id="content" class="col-md-9 col-sm-8">
                    <div class="products-category">
                        <div class="category-derc">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="banners">
                                        <div>
                                            <a href="#">
                                                <img src="~/image/demo/shop/category/electronic-cat.png"
                                                     alt=""><br>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- Filters -->
                        <div class="product-filter filters-panel">
                            <div class="row">
                                <div class="col-md-2 visible-lg">
                                    <div class="view-mode">
                                        <div class="list-view">
                                            <button class="btn btn-default grid active" data-view="grid"
                                                    data-toggle="tooltip" data-original-title="Xem theo ô">
                                                <i class="fa fa-th"></i>
                                            </button>
                                            <button class="btn btn-default list" data-view="list" data-toggle="tooltip"
                                                    data-original-title="Xem theo danh sách">
                                                <i class="fa fa-th-list"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="short-by-show form-inline text-right col-md-7 col-sm-8 col-xs-12">
                                    <div class="form-group short-by">
                                        <label class="control-label" for="input-sort">Sắp xếp theo:</label>
                                        <select id="input-sort" class="form-control">
                                            <option value="" selected="selected">Mặc định</option>
                                            <option value="">Tên (A - Z)</option>
                                            <option value="">Tên (Z - A)</option>
                                            <option value="">Giá (Thấp &gt; Cao)</option>
                                            <option value="">Giá (Cao &gt; Thấp)</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="input-limit">Hiển thị:</label>
                                        <select id="input-limit" class="form-control" onchange="location = this.value;">
                                            <option value="" selected="selected">9</option>
                                            <option value="">25</option>

                                            <option value="">50</option>
                                            <option value="">75</option>

                                            <option value="">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="box-pagination col-md-3 col-sm-4 text-right">
                                    <ul class="pagination">
                                        @for (var pge = pager.startPage; pge <= pager.endPage; pge++)
                                        {
                                            <li class="page-item @(pge==pager.currentPage ? "active" : "")">
                                                <a class="page-link" asp-controller="home" asp-action="category" asp-route-id="@cat.id_cat" asp-route-pg="@pge"> @pge</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- //end Filters -->
                    <!--changed listings-->
                    <div class="products-list row grid">
                        @foreach (var item2 in list1)
                        {
                            if (item2.discount > 0)
                            {
                                listimg1 = Image_product.FindImgByIDPro(item2.id_pro);

                                <div class="product-layout col-md-4 col-sm-6 col-xs-12 ">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container second_img ">
                                                <img src="@listimg1[0].link"
                                                     alt="@item2.name_pro;" class="img-responsive" />
                                            </div>
                                            <!--Giảm giá Label-->
                                            <span class="label label-sale">Giảm giá</span>
                                            <!--countdown box-->
                                            <!--end countdown box-->
                                            <!--full quick view block-->
                                            <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                               href="quickview.html"> Xem nhanh</a>
                                            <!--end full quick view block-->
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item2.id_pro" asp-route-idcat="@item2.id_cat">@item2.name_pro</a></h4>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    @{
                                                        double price_old = (@item2.price * (100 + @item2.sale_rate) / 100);
                                                        double price_new = (@item2.price * (100 + @item2.sale_rate) / 100 * ((100 - @item2.discount) / 100));

                                                        <span class="price-new">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                        <span class="price-old">@String.Format("{0:0,0 VNĐ}", price_old)</span>
                                                        <span class="label label-percent">@item2.discount%</span>
                                                    }
                                                </div>
                                                <div class="description item-desc hidden">
                                                    <p>Mô tả. </p>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                @if (ViewBag.email != null)
                                                {
                                                    <a class="addToCart" type="button" data-toggle="tooltip" data-id="@item2.id_pro"
                                                       title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                    </a>
                                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                                            title="Thêm vào danh sách yêu thích" data-idpro="@item2.id_pro">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <a class="addToCart" type="button" data-toggle="tooltip" data-id="@item2.id_pro"
                                                       title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                    </a>
                                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                                            title="Thêm vào danh sách yêu thích" asp-controller="user" asp-action="login">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                }
                                            </div>
                                        </div><!-- right block -->

                                    </div>
                                </div>
                            }
                            else
                            {
                                listimg1 = Image_product.FindImgByIDPro(item2.id_pro);
                                <div class="product-layout col-md-4 col-sm-6 col-xs-12 ">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container second_img ">
                                                <img src="@listimg1[0].link"
                                                     alt="@item2.name_pro" class="img-responsive" />
                                            </div>
                                            <!--full quick view block-->
                                            <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                               href="quickview.html"> Xem nhanh</a>
                                            <!--end full quick view block-->
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item2.id_pro" asp-route-idcat="@item2.id_cat">@item2.name_pro</a></h4>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="price">
                                                    @{
                                                        double price_old = (@item2.price * (100 + @item2.sale_rate) / 100);
                                                        double price_new = (@item2.price * (100 + @item2.sale_rate) / 100 * ((100 - @item2.discount) / 100));
                                                        <span class="price-new">@String.Format("{0:0,0 VNĐ}", price_old)</span>
                                                    }
                                                </div>
                                                <div class="description item-desc hidden">
                                                    <p>Mô tả. </p>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                @if (ViewBag.email != null)
                                                {
                                                    <a class="addToCart" type="button" data-toggle="tooltip" data-id="@item2.id_pro"
                                                       title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                    </a>
                                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                                            title="Thêm vào danh sách yêu thích" data-idpro="@item2.id_pro">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <a class="addToCart" type="button" data-toggle="tooltip" data-id="@item2.id_pro"
                                                       title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                    </a>
                                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                                            title="Thêm vào danh sách yêu thích" asp-controller="user" asp-action="login">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                }
                                            </div>
                                        </div><!-- right block -->
                                    </div>
                                </div>
                            }
                        }
                        <div class="clearfix visible-xs-block"></div>
                        <!--// End Changed listings-->
                        <!-- Filters -->
                        <div class="product-filter product-filter-bottom filters-panel">
                            <div class="row">
                                <div class="col-md-2 hidden-sm hidden-xs">
                                </div>
                                <div class="short-by-show text-center col-md-7 col-sm-8 col-xs-12">
                                    <div class="form-group" style="margin: 7px 10px">
                                        Hiển thị từ 1 đến 9 trong @list1.Count() sản phẩm (@pager.endPage Trang)
                                    </div>
                                </div>
                                <div class="box-pagination col-md-3 col-sm-4 text-right">
                                    <ul class="pagination">
                                        @for (var pge = pager.startPage; pge <= pager.endPage; pge++)
                                        {
                                            <li class="page-item @(pge==pager.currentPage ? "active" : "")">
                                                <a class="page-link" asp-controller="home" asp-action="category" asp-route-id="@cat.id_cat" asp-route-pg="@pge"> @pge</a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <!-- //end Filters -->
                    </div>
                </div>
            </div>
            <!--Middle Part End-->
        </div>
        <!-- //Main Container -->

    </div>


    <!-- Cpanel Block -->
    <!-- <div id="sp-cpanel_btn" class="isDown visible-lg">
        <i class="fa fa-cog"></i>
    </div> -->

    <script type="text/javascript">
        // Kiểm tra có Cookies hay chưa
        if ($.cookie('display')) {
            view = $.cookie('display');
        } else {
            view = 'grid';
        }
        if (view) display(view);
      
    </script>
    @if (ViewBag.email != null)
    {
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    $(".addToCart").click(function () {
                        $.ajax({
                            url: "/CartUser/Buy",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: 1,
                                type: "ajax"
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thêm giỏ hàng thành công',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                                setTimeout(function () {// wait for 5 secs(2)
                                    location.reload(); // then reload the page.(3)
                                }, 1300);
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm giỏ hàng thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                            }
                        });
                    });
                    $(".wishlist").click(function () {
                        $.ajax({
                            url: "/User/AddWishList",
                            data: {
                                id_pro: $(this).data("idpro"),
                                type: "ajax"
                            },
                            success: function (data) {
                                if (data.check > 0) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thêm mặt hàng yêu thích thành công',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                                else {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Mặt hàng đã yêu thích',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm mặt hàng yêu thích thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });
                });
            </script>
        }
    }
    else
    {
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    $(".addToCart").click(function () {
                        $.ajax({
                            url: "/Cart/Buy",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: 1,
                                type: "ajax"
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thêm giỏ hàng thành công',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $("#slsp").load(location.href + " #slsp>*", "");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm giỏ hàng thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });                
                });
            </script>
        }
    }
</body>