
@{
    ViewData["Title"] = "Trang chủ";
    List<Product> listpronew = new List<Product>();
    if (ViewBag.listpronew != null)
    {
        listpronew = ViewBag.listpronew;
    }
    List<Product> listprosale = Product.ListProSale();

    List<Product> listrau = Product.ListProCat(12);
    List<Product> listthit = Product.ListProCat(10);
    List<Product> listtraicay = Product.ListProCat(13);
    List<Product> listtuoisong = new List<Product>();
    listtuoisong.AddRange(listrau);
    listtuoisong.AddRange(listthit);
    listtuoisong.AddRange(listtraicay);

    List<Product> listdonglanh = new List<Product>();
    List<Product> listcavien = Product.ListProCat(42);
    List<Product> haisandonglanh = Product.ListProCat(44);
    List<Product> listkem = Product.ListProCat(56);
    listdonglanh.AddRange(listcavien);
    listdonglanh.AddRange(haisandonglanh);
    listdonglanh.AddRange(listkem);

    List<Product> listdohop = new List<Product>();
    List<Product> listcahop = Product.ListProCat(22);
    List<Product> listthithop= Product.ListProCat(23);
    List<Product> listraucuhop = Product.ListProCat(24);
    listdohop.AddRange(listcahop);
    listdohop.AddRange(listthithop);
    listdohop.AddRange(listraucuhop);

}
<body class="common-home res layout-home7 ">

    <div id="wrapper" class="wrapper-full banners-effect-7">

        <!-- Block slideshow  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a asp-controller="home" asp-action="category" asp-route-id="12">
                                <img src="image/demo/slider/home7/slider-1.jpg" alt="slider1"
                                     class="img-responsive">
                            </a>
                        </div>
                        <div class="yt-content-slide">
                            <a href="#"><img src="image/demo/slider/home7/slider-2.jpg" alt="slider2"
                                    class="img-responsive"></a>
                        </div>
                        <div class="yt-content-slide">
                            <a href="#"><img src="image/demo/slider/home7/slider-3.jpg" alt="slider3"
                                    class="img-responsive"></a>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>

        <!-- Main Container  -->
        <div class="main-container ">
            <div class="container">
                <div class="row">
                    <div id="content-top" class="clearfix">
                        <div class="module banner1-id7">
                            <div class="modcontent clearfix">
                                <ul class="blank">
                                    <li class="col-lg-6 col-md-6 col-sm-6 static-image">
                                        <div class="banners">
                                            <div>
                                                <a href="#">
                                                    <img src="image/demo/cms/home7/image1-id11.jpg"
                                                         alt="banner1">
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-lg-6 col-md-6 col-sm-6 static-image">
                                        <div class="banners">
                                            <div>
                                                <a href="#">
                                                    <img src="image/demo/cms/home7/image2-id11.jpg"
                                                         alt="banner1">
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>

                            </div>
                        </div>
                        <div class="module">
                            <div class="modcontent clearfix">
                                <div class="services-v1">
                                    <div class="policy policy1 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="policy-inner">
                                            <span class="ico-policy"></span>
                                            <h2>TRẢ HÀNG TRONG 12H</h2><a>Hoàn tiền</a>
                                        </div>
                                    </div>
                                    <div class="policy policy2 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="policy-inner">
                                            <span class="ico-policy"></span><a>
                                                <h2>MIỄN PHÍ SHIP</h2>Hóa đơn trên 250.000đ
                                            </a>
                                        </div>
                                    </div>
                                    <div class="policy policy3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="policy-inner">
                                            <span class="ico-policy"></span><a>
                                                <h2>CAM KẾT</h2>Giá rẻ nhất
                                            </a>
                                        </div>
                                    </div>
                                    <div class="policy policy4 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="policy-inner">
                                            <span class="ico-policy"></span><a>
                                                <h2>AN TOÀN</h2>Đảm bảo chất lượng
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Sản phẩm mới  -->
                        <div class="module tab-slider titleLine col-xs-12">
                            <div id="so_listing_tabs_1" class="so-listing-tabs first-load module">
                                <div class="loadeding"></div>
                                <div class="ltabs-wrap ">
                                    <div class="ltabs-tabs-container" data-delay="300" data-duration="600"
                                         data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="5"
                                         data-md="4" data-sm="2" data-xs="1" data-margin="30">
                                        <!--Begin Tabs-->
                                        <div class="ltabs-tabs-wrap">
                                            <span class="ltabs-tab-selected">SẢN PHẨM MỚI </span> @*<span class="ltabs-tab-arrow">▼</span>*@
                                            <div class="item-sub-cat item-sub-cat__divided">
                                                <ul class="ltabs-tabs cf">
                                                    <li class="ltabs-tab tab-sel" data-category-id="20"
                                                        data-active-content=".items-category-20">
                                                        <span class="ltabs-tab-label">SẢN PHẨM MỚI </span>
                                                    </li>

                                                    @*<li class="ltabs-tab " data-category-id="94"
                                                        data-active-content=".items-category-94">
                                                        <span class="ltabs-tab-label">BÁN CHẠY NHẤT </span>
                                                    </li>*@
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Tabs-->
                                    </div>
                                    <div class="ltabs-items-container">
                                        <!--Begin Items-->
                                        <div class="ltabs-items ltabs-items-loaded ltabs-items-selected items-category-20 grid"
                                             data-total="10">
                                            <div class="ltabs-items-inner ltabs-slider ">
                                                <!--Sản phẩm mới-->
                                                @foreach (var item in listpronew)
                                                {
                                                    List<Image_product> listimg = new List<Image_product>();
                                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                                    double price_old = (@item.price * (100 + @item.sale_rate) / 100);
                                                    double price_new = (@item.price * (100 + @item.sale_rate) / 100 * ((100 - @item.discount) / 100));
                                                    <div class="ltabs-item product-layout">
                                                        <div class="product-item-container">
                                                            <div class="left-block">

                                                                <div class="product-image-container second_img ">
                                                                    <img src="@listimg[0].link"
                                                                         alt="@item.name_pro"
                                                                         class="img-responsive" />
                                                                </div>
                                                                <!--Sale Label-->
                                                                @if (item.discount > 0)
                                                                {
                                                                    <span class="label label-sale">Giảm giá</span>
                                                                }
                                                                <span class="label label-new">Mới</span>
                                                                <!--full quick view block-->
                                                                <a class="quickview iframe-link visible-lg"
                                                                   data-fancybox-type="iframe"  asp-controller="home" asp-action="quickview" asp-route-id_pro="@item.id_pro" asp-route-id_cat="@item.id_cat">
                                                                    Xem
                                                                    nhanh
                                                                </a>
                                                                <!--end full quick view block-->
                                                            </div>
                                                            <div class="right-block">
                                                                <div class="caption">
                                                                    <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.id_pro" asp-route-idcat="@item.id_cat">@item.name_pro</a></h4>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    @if (item.discount > 0)
                                                                    {
                                                                        <div class="price">
                                                                            <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                                            <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="price">
                                                                            <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                                                        </div>
                                                                    }
                                                                </div>
                                                                @if (ViewBag.email != null)
                                                                {
                                                                    <div class="button-group">
                                                                        <button class="addToCart addToCart--notext"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Add to Cart"
                                                                                data-id="@item.id_pro">
                                                                            <i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span>
                                                                        </button>
                                                                        <button class="wishlist" type="button"
                                                                                data-toggle="tooltip" title="Add to Wish List"
                                                                                data-idpro="@item.id_pro">
                                                                            <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="button-group">
                                                                        <button class="addToCart addToCart--notext"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Add to Cart"
                                                                                data-id="@item.id_pro">
                                                                            <i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span>
                                                                        </button>
                                                                        <button class="wishlist" type="button"
                                                                                data-toggle="tooltip" title="Add to Wish List">
                                                                            <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                            </div><!-- right block -->
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        </div>

                                    </div>
                                    <!--End Items-->

                                </div>

                            </div>
                        </div>

                        <div class="module static-image col-xs-12 module--4x clearfix">
                            <div class="banners">
                                <div>
                                    <a href="#"><img src="image/demo/cms/home7/image3-id11.jpg" alt="banner1"></a>
                                </div>
                            </div>
                        </div>

                        <!-- Thực phẩm tươi sống  -->
                        <div class="module tab-slider titleLine col-xs-12">
                            <div id="so_listing_tabs_2" class="so-listing-tabs first-load module">
                                <div class="loadeding"></div>
                                <div class="ltabs-wrap ">
                                    <div class="ltabs-tabs-container" data-delay="300" data-duration="600"
                                         data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="5"
                                         data-md="4" data-sm="2" data-xs="1" data-margin="30">
                                        <!--Begin Tabs-->
                                        <div class="ltabs-tabs-wrap">
                                            <span class="ltabs-tab-selected">THỰC PHẨM TƯƠI SỐNG </span> @*<span class="ltabs-tab-arrow">▼</span>*@
                                            <div class="item-sub-cat item-sub-cat__divided">
                                                <ul class="ltabs-tabs cf">
                                                    <li class="ltabs-tab tab-sel" data-category-id="120"
                                                        data-active-content=".items-category-120">
                                                        <span class="ltabs-tab-label">THỰC PHẨM TƯƠI SỐNG </span>
                                                    </li>

                                                    @*<li class="ltabs-tab " data-category-id="175"
                                                        data-active-content=".items-category-175">
                                                        <span class="ltabs-tab-label">THỰC PHẨM ĐÔNG LẠNH </span>
                                                    </li>

                                                    <li class="ltabs-tab " data-category-id="76"
                                                        data-active-content=".items-category-76">
                                                        <span class="ltabs-tab-label">ĐỒ ĐÓNG HỘP</span>
                                                    </li>*@
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- End Tabs-->
                                    </div>
                                    <div class="ltabs-items-container">
                                        <!--Begin Items-->
                                        <div class="ltabs-items ltabs-items-loaded ltabs-items-selected items-category-120 grid"
                                             data-total="10">
                                            <div class="ltabs-items-inner ltabs-slider ">
                                                <!--Sản phẩm mới-->
                                                @foreach (var item in listtuoisong)
                                                {
                                                    List<Image_product> listimg = new List<Image_product>();
                                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                                    double price_old = (@item.price * (100 + @item.sale_rate) / 100);
                                                    double price_new = (@item.price * (100 + @item.sale_rate) / 100 * ((100 - @item.discount) / 100));
                                                    <div class="ltabs-item product-layout">
                                                        <div class="product-item-container">
                                                            <div class="left-block">

                                                                <div class="product-image-container second_img ">
                                                                    <img src="@listimg[0].link"
                                                                         alt="@item.name_pro"
                                                                         class="img-responsive" />
                                                                </div>
                                                                <!--Sale Label-->
                                                                @if (item.discount > 0)
                                                                {
                                                                    <span class="label label-sale">Giảm giá</span>
                                                                }
                                                                <!--full quick view block-->
                                                                <a class="quickview iframe-link visible-lg"
                                                                   data-fancybox-type="iframe" asp-controller="home" asp-action="quickview" asp-route-id_pro="@item.id_pro" asp-route-id_cat="@item.id_cat">
                                                                    Xem
                                                                    nhanh
                                                                </a>
                                                                <!--end full quick view block-->
                                                            </div>
                                                            <div class="right-block">
                                                                <div class="caption">
                                                                    <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.id_pro" asp-route-idcat="@item.id_cat">@item.name_pro</a></h4>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            @for (int i = 1; i < 6; i++)
                                                                            {
                                                                                if (i <= item.rate)
                                                                                {
                                                                                    <span class="fa fa-stack">
                                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="fa fa-stack">
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    @if (item.discount > 0)
                                                                    {
                                                                        <div class="price">
                                                                            <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                                            <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="price">
                                                                            <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                                                        </div>
                                                                    }
                                                                </div>
                                                                @if (ViewBag.email != null)
                                                                {
                                                                    <div class="button-group">
                                                                        <button class="addToCart addToCart--notext"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Add to Cart"
                                                                                data-id="@item.id_pro">
                                                                            <i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span>
                                                                        </button>
                                                                        <button class="wishlist" type="button"
                                                                                data-toggle="tooltip" title="Add to Wish List"
                                                                                data-idpro="@item.id_pro">
                                                                            <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="button-group">
                                                                        <button class="addToCart addToCart--notext"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Add to Cart"
                                                                                data-id="@item.id_pro">
                                                                            <i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span>
                                                                        </button>
                                                                        <button class="wishlist" type="button"
                                                                                data-toggle="tooltip" title="Add to Wish List">
                                                                            <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                            </div><!-- right block -->
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <!--Bán chạy nhất-->
                                        <div class="ltabs-items ltabs-items-loaded items-category-175 grid " data-total="10">
                                            <div class="ltabs-items-inner ltabs-slider ">
                                                 @foreach (var item in listtuoisong)
                                                {
                                                    List<Image_product> listimg = new List<Image_product>();
                                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                                    double price_old = (@item.price * (100 + @item.sale_rate) / 100);
                                                    double price_new = (@item.price * (100 + @item.sale_rate) / 100 * ((100 - @item.discount) / 100));
                                                    <div class="ltabs-item product-layout">
                                                        <div class="product-item-container">
                                                            <div class="left-block">

                                                                <div class="product-image-container second_img ">
                                                                    <img src="@listimg[0].link"
                                                                         alt="@item.name_pro"
                                                                         class="img-responsive" />
                                                                </div>
                                                                <!--Sale Label-->
                                                                @if (item.discount > 0)
                                                                {
                                                                    <span class="label label-sale">Giảm giá</span>
                                                                }
                                                                <!--full quick view block-->
                                                                <a class="quickview iframe-link visible-lg"
                                                                   data-fancybox-type="iframe"  asp-controller="home" asp-action="quickview" asp-route-id_pro="@item.id_pro" asp-route-id_cat="@item.id_cat">
                                                                    Xem
                                                                    nhanh
                                                                </a>
                                                                <!--end full quick view block-->
                                                            </div>
                                                            <div class="right-block">
                                                                <div class="caption">
                                                                    <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.id_pro" asp-route-idcat="@item.id_cat">@item.name_pro</a></h4>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            @for (int i = 1; i < 6; i++)
                                                                            {
                                                                                if (i <= item.rate)
                                                                                {
                                                                                    <span class="fa fa-stack">
                                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span class="fa fa-stack">
                                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                                    </span>
                                                                                }
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                    @if (item.discount > 0)
                                                                    {
                                                                        <div class="price">
                                                                            <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                                            <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="price">
                                                                            <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                                                        </div>
                                                                    }
                                                                </div>
                                                                @if (ViewBag.email != null)
                                                                {
                                                                    <div class="button-group">
                                                                        <button class="addToCart addToCart--notext"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Add to Cart"
                                                                                data-id="@item.id_pro">
                                                                            <i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span>
                                                                        </button>
                                                                        <button class="wishlist" type="button"
                                                                                data-toggle="tooltip" title="Add to Wish List"
                                                                                data-idpro="@item.id_pro">
                                                                            <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="button-group">
                                                                        <button class="addToCart addToCart--notext"
                                                                                type="button" data-toggle="tooltip"
                                                                                title="Add to Cart"
                                                                                data-id="@item.id_pro">
                                                                            <i class="fa fa-shopping-cart"></i> <span class="">Add to Cart</span>
                                                                        </button>
                                                                        <button class="wishlist" type="button"
                                                                                data-toggle="tooltip" title="Add to Wish List">
                                                                            <i class="fa fa-heart"></i>
                                                                        </button>
                                                                    </div>
                                                                }
                                                            </div><!-- right block -->
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Items-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="content" class="clearfix">

                    </div>
                </div>
            </div>
        </div>
        <!-- //Main Container -->

        <!-- Block Thực phẩm đông lạnh  -->
        <section class="so-spotlight1">
            <div class="container">
                <div class="row">
                    <div class="module extraslider-home5 titleLine col-xs-12 clearfix">
                        <h3 class="modtitle">Thực phẩm đông lạnh</h3>
                        <div id="so_extraslider3--home7">
                            <!-- Begin extraslider-inner -->
                            <div class="so-extraslider products-list grid " data-autoplay="no" data-autoheight="no"
                                 data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4"
                                 data-items_column1="4" data-items_column2="3" data-items_column3="2"
                                 data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes"
                                 data-loop="no" data-hoverpause="yes">
                                <!--Begin Items-->
                                @foreach (var item in listdonglanh)
                                {
                                    List<Image_product> listimg = new List<Image_product>();
                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="@listimg[0].link" alt="@item.name_pro"
                                                         class="img-responsive">
                                                </div>
                                                <!--Sale Label-->
                                                @if (item.discount > 0)
                                                {
                                                    <span class="label label-sale">Giảm giá</span>
                                                }
                                                <!--full quick view block-->
                                                <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                                    asp-controller="home" asp-action="quickview" asp-route-id_pro="@item.id_pro" asp-route-id_cat="@item.id_cat"> Xem nhanh</a>
                                                <!--end full quick view block-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.id_pro" asp-route-idcat="@item.id_cat">@item.name_pro</a></h4>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            @for (int i = 1; i < 6; i++)
                                                            {
                                                                if (i <= item.rate)
                                                                {
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        @{
                                                            double price_old = (@item.price * (100 + @item.sale_rate) / 100);
                                                            double price_new = (@item.price * (100 + @item.sale_rate) / 100 * ((100 - @item.discount) / 100));                                     
                                                        }
                                                        @if (item.discount > 0)
                                                        {
                                                            <div class="price">
                                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                                <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="price">
                                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                @if (ViewBag.email != null)
                                                {
                                                    <div class="button-group">
                                                        <button class="addToCart addToCart--notext" type="button" data-id="@item.id_pro">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="button-group__text">Add to Cart</span>
                                                        </button>
                                                        <button class="wishlist" type="button" data-idpro="@item.id_pro">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="button-group">
                                                        <button class="addToCart addToCart--notext" type="button" data-id="@item.id_pro">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="button-group__text">Add to Cart</span>
                                                        </button>
                                                        <button class="wishlist" type="button">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </div>
                                                }
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                }
                                <!--End Items-->


                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Block Đồ đóng hộp  -->
        <section class="so-spotlight1">
            <div class="container">
                <div class="row">
                    <div class="module extraslider-home5 titleLine col-xs-12 clearfix">
                        <h3 class="modtitle">Đồ đóng hộp</h3>
                        <div id="so_extraslider2--home7">
                            <!-- Begin extraslider-inner -->
                            <div class="so-extraslider products-list grid " data-autoplay="no" data-autoheight="no"
                                 data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4"
                                 data-items_column1="4" data-items_column2="3" data-items_column3="2"
                                 data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes"
                                 data-loop="no" data-hoverpause="yes">
                                <!--Begin Items-->
                                @foreach (var item in listdohop)
                                {
                                    List<Image_product> listimg = new List<Image_product>();
                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="@listimg[0].link" alt="@item.name_pro"
                                                         class="img-responsive">
                                                </div>
                                                <!--Sale Label-->
                                                @if (item.discount > 0)
                                                {
                                                    <span class="label label-sale">Giảm giá</span>
                                                }
                                                <!--full quick view block-->
                                                <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                                    asp-controller="home" asp-action="quickview" asp-route-id_pro="@item.id_pro" asp-route-id_cat="@item.id_cat"> Xem nhanh</a>
                                                <!--end full quick view block-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.id_pro" asp-route-idcat="@item.id_cat">@item.name_pro</a></h4>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            @for (int i = 1; i < 6; i++)
                                                            {
                                                                if (i <= item.rate)
                                                                {
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        @{
                                                            double price_old = (@item.price * (100 + @item.sale_rate) / 100);
                                                            double price_new = (@item.price * (100 + @item.sale_rate) / 100 * ((100 - @item.discount) / 100));
                                                        }
                                                        @if (item.discount > 0)
                                                        {
                                                            <div class="price">
                                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                                <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="price">
                                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                @if (ViewBag.email != null)
                                                {
                                                    <div class="button-group">
                                                        <button class="addToCart addToCart--notext" type="button" data-id="@item.id_pro">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="button-group__text">Add to Cart</span>
                                                        </button>
                                                        <button class="wishlist" type="button" data-idpro="@item.id_pro">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="button-group">
                                                        <button class="addToCart addToCart--notext" type="button" data-id="@item.id_pro">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="button-group__text">Add to Cart</span>
                                                        </button>
                                                        <button class="wishlist" type="button">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </div>
                                                }
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                }
                                <!--End Items-->
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Block Giảm giá & Brand  -->
        <section class="so-spotlight1">
            <div class="container">
                <div class="row">
                    <div class="module extraslider-home5 titleLine col-xs-12 clearfix">
                        <h3 class="modtitle">Giảm giá khủng</h3>
                        <div id="so_extraslider1--home7">
                            <!-- Begin extraslider-inner -->
                            <div class="so-extraslider products-list grid " data-autoplay="no" data-autoheight="no"
                                 data-delay="4" data-speed="0.6" data-margin="30" data-items_column0="4"
                                 data-items_column1="4" data-items_column2="3" data-items_column3="2"
                                 data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes"
                                 data-loop="no" data-hoverpause="yes">
                                <!--Begin Items-->
                                @foreach (var item in listprosale)
                                {
                                    List<Image_product> listimg = new List<Image_product>();
                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                    <div class="ltabs-item product-layout">
                                        <div class="product-item-container">
                                            <div class="left-block">
                                                <div class="product-image-container second_img ">
                                                    <img src="@listimg[0].link" alt="@item.name_pro"
                                                         class="img-responsive">
                                                </div>
                                                <!--Sale Label-->
                                                <span class="label label-sale">Giảm giá</span>
                                                <!--full quick view block-->
                                                <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"
                                                    asp-controller="home" asp-action="quickview" asp-route-id_pro="@item.id_pro" asp-route-id_cat="@item.id_cat"> Xem nhanh</a>
                                                <!--end full quick view block-->
                                            </div>
                                            <div class="right-block">
                                                <div class="caption">
                                                    <h4><a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.id_pro" asp-route-idcat="@item.id_cat">@item.name_pro</a></h4>
                                                    <div class="ratings">
                                                        <div class="rating-box">
                                                            @for (int i = 1; i < 6; i++)
                                                            {
                                                                if (i <= item.rate)
                                                                {
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="fa fa-stack">
                                                                        <i class="fa fa-star-o fa-stack-1x"></i>
                                                                    </span>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        @{
                                                            double price_old = (@item.price * (100 + @item.sale_rate) / 100);
                                                            double price_new = (@item.price * (100 + @item.sale_rate) / 100 * ((100 - @item.discount) / 100));
                                                            <span class="price-new">@String.Format("{0:0,0 vnđ}", price_new)</span>
                                                            <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                        }
                                                    </div>
                                                </div>
                                                @if (ViewBag.email != null)
                                                {
                                                    <div class="button-group">
                                                        <button class="addToCart addToCart--notext" type="button" data-id="@item.id_pro">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="button-group__text">Add to Cart</span>
                                                        </button>
                                                        <button class="wishlist" type="button" data-idpro="@item.id_pro">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="button-group">
                                                        <button class="addToCart addToCart--notext" type="button" data-id="@item.id_pro">
                                                            <i class="fa fa-shopping-cart"></i>
                                                            <span class="button-group__text">Add to Cart</span>
                                                        </button>
                                                        <button class="wishlist" type="button">
                                                            <i class="fa fa-heart"></i>
                                                        </button>
                                                    </div>
                                                }
                                            </div><!-- right block -->
                                        </div>
                                    </div>
                                }
                                <!--End Items-->


                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                    <div class="module col-xs-12 clearfix">
                        <div class="modcontent clearfix">

                            <div class="yt-content-slider slider-brand--home6" data-autoplay="no" data-autoheight="no"
                                 data-delay="4" data-speed="0.6" data-margin="15" data-items_column0="7"
                                 data-items_column1="5" data-items_column2="4" data-items_column3="3"
                                 data-items_column4="2" data-arrows="yes" data-pagination="no" data-lazyload="yes"
                                 data-loop="yes" data-hoverpause="yes">
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-1.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-2.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-3.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-4.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-5.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-6.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-1.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-2.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-3.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                                <div class="item">
                                    <a title="Brand" href="#">
                                        <img src="image/demo/brand/home6/brand-4.jpg"
                                             alt="Brand">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
 

        <!-- Block Nhận xét  -->
        <section class="so-spotlight" style="padding: 75px; min-height: 500px; background-image: url(../image/theme/home7/bg-client-id11.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="module clearfix no-margin-bottom ">
                            <div class="modcontent">
                                <div class="slider-clientsay">
                                    <ul id="carousel-custom-dots" class="owl-dots eg-list-inline eg-list-inline-1">
                                        <li class="owl-dot">
                                            <img src="image/demo/clientsay/client-s2.jpg" alt="Client">
                                        </li>
                                        <li class="owl-dot">
                                            <img src="image/demo/clientsay/client-s1.jpg" alt="Client">
                                        </li>
                                        <li class="owl-dot">
                                            <img src="image/demo/clientsay/client-s3.jpg" alt="Client">
                                        </li>
                                    </ul>
                                    <div class="slider-clientsay__owl">
                                        <div class="slider-clientsay__item" style="color: white">
                                            <div class="slider-clientsay__dec">
                                                Đa dạng mặt hàng<br>
                                                Giá cả phải chăng <br>
                                                Chất lượng hảo hạng <br>
                                                Dịch vụ tuyệt vời <br>
                                                UITGreen là "nhứt"! <br>
                                            </div>
                                            <div class="slider-clientsay__info">
                                                <h4>Phan Tấn Đạt</h4>
                                                <p>TAM BÌNH, VĨNH LONG</p>
                                            </div>
                                        </div>

                                        <div class="slider-clientsay__item" style="color: white">
                                            <div class="slider-clientsay__dec">
                                                Nhìn chung là giống bạn Đạt! <br>
                                            </div>
                                            <div class="slider-clientsay__info">
                                                <h4>Nguyễn Đăng Đô</h4>
                                                <p>BẠC LIÊU</p>
                                            </div>
                                        </div>

                                        <div class="slider-clientsay__item" style="color: white">
                                            <div class="slider-clientsay__dec">
                                                Nhìn chung là giống bạn Đạt và bạn Đô! <br>
                                            </div>
                                            <div class="slider-clientsay__info">
                                                <h4>Phạm Bá Vương</h4>
                                                <p>QUÃNG NGÃI</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    @if (ViewBag.email != null)
    {
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    $(".addToCart").click(function () {
                        $.ajax({
                            url: "/CartUser/Buy",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: 1,
                                type: "ajax"
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thêm giỏ hàng thành công',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                                $("#cart").load(location.href + " #cart>*", "");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm giỏ hàng thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                            }
                        });
                    });
                    $(".wishlist").click(function () {
                        $.ajax({
                            url: "/User/AddWishList",
                            data: {
                                id_pro: $(this).data("idpro"),
                                type: "ajax"
                            },
                            success: function (data) {
                                if (data.check > 0) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thêm mặt hàng yêu thích thành công',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                                else {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Mặt hàng đã yêu thích',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm mặt hàng yêu thích thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });                 
                });
            </script>
        }
    }
    else
    {
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    $(".addToCart").click(function () {
                        $.ajax({
                            url: "/Cart/Buy",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: 1,
                                type: "ajax"
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thêm giỏ hàng thành công',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $("#cart").load(location.href + " #cart>*", "");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm giỏ hàng thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });
                    $(".wishlist").click(function () {
                        Swal.fire('Vui lòng đăng nhập!');
                    });
                  
                });
            </script>
        }
    }
    
</body>