@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product pro = new Product();
    if (ViewBag.pro != null)
    {
        pro = ViewBag.pro;
    }
    Category cat = new Category();

    if (ViewBag.cat != null)
    {
        cat = ViewBag.cat;
    }
    List<Image_product> listimg = new List<Image_product>();
    if(ViewBag.listimg != null)
    {
        listimg = ViewBag.listimg;
    }
    var index = 0;
    List<Comment> listcmt = Comment.FindCmtByID(pro.id_pro);
    int socmt = Comment.SumCmt(pro.id_pro);
    List<Suggest_product> listsug = Suggest_product.FindSugByID(pro.id_pro);
}
<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a>
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>
        <!-- //end Slider  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
                <li><a asp-controller="home" asp-action="category" asp-route-id="@cat.id_cat">@cat.name_cat</a></li>
                <li><a>@pro.name_pro</a></li>
            </ul>

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-md-12 col-sm-12">

                    <div class="product-view row">
                        <div class="left-content-product col-lg-10 col-xs-12">
                            <div class="row">
                                <div class="content-product-left  col-sm-6 col-xs-12 ">
                                    <div class="large-image  ">
                                        <img itemprop="image" class="product-image-zoom" src="@listimg[0].link" title="@pro.name_pro" />
                                    </div>
                                    <div id="thumb-slider" class="owl-theme owl-loaded owl-drag full_slider">
                                        @foreach (var item in listimg)
                                        {
                                            if (item.link != null)
                                            {
                                                <a data-index="@index" class="img thumbnail " data-image="@item.link" title="@pro.name_pro">
                                                    <img src="@item.link" title="@pro.name_pro" alt="@pro.name_pro" />
                                                    @{index = index + 1;}
                                                </a>
                                            }
                                        }
                                    </div>

                                </div>

                                <div class="content-product-right col-sm-5 col-xs-12">
                                    <div class="title-product">
                                        <h1>@pro.name_pro</h1>
                                    </div>
                                    <!-- Review ---->
                                    <div class="box-review form-group">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                @for (int i = 1; i < 6; i++)
                                                {
                                                    if (i <= pro.rate)
                                                    {
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    }
                                                }
                                            </div>
                                        </div>

                                        <a class="reviews_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">@socmt đánh giá</a>	|
                                        <a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Đánh giá sản phẩm này</a>
                                    </div>

                                    <div class="product-label form-group">
                                        <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                            @if (pro.discount > 0)
                                            {
                                                double price_old = (@pro.price * (100 + @pro.sale_rate) / 100);
                                                double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - @pro.discount) / 100));
                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                <span class="price-old">@String.Format("{0:0,0 VNĐ}", price_old)</span>
                                            }
                                            else
                                            {
                                                double price_old = (@pro.price * (100 + @pro.sale_rate) / 100);
                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                            }

                                        </div>
                                        @if (pro.quantity > 0)
                                        {
                                            <div class="stock"><span>Tình trạng:</span> <span class="status-stock">Còn hàng</span></div>
                                        }
                                        else
                                        {
                                            <div class="stock"><span>Tình trạng:</span> <span class="status-stock">Hết hàng</span></div>
                                        }
                                    </div>

                                    <div class="product-box-desc">
                                        <div class="inner-box-desc">
                                            <div class="brand"><span>Thương hiệu:</span><a> UIT</a></div>
                                            <div class="origin"><span>Xuất xứ:</span> @pro.origin</div>
                                            <div class="origin"><span>ĐVT:</span> @pro.type</div>
                                        </div>
                                    </div>
                                    <div id="product">
                                        <div class="form-group box-info-product">
                                            <div class="option quantity">
                                                <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                    <label>SL</label>
                                                    <input class="form-control" type="text" name="quantity"
                                                           value="1">
                                                    <input type="hidden" name="product_id" value="50">
                                                    <span class="input-group-addon product_quantity_down">−</span>
                                                    <span class="input-group-addon product_quantity_up">+</span>
                                                </div>
                                            </div>
                                            @if (pro.quantity > 0)
                                            {
                                                <div class="cart">
                                                    <a><input type="button" data-toggle="tooltip" value="+ giỏ hàng" data-loading-text="Loading..." id="button-cart" class="addToCart btn btn-mega btn-lg" data-id="@pro.id_pro"></a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="cart">
                                                    <a><input type="button" data-toggle="tooltip" value="+ giỏ hàng" data-loading-text="Loading..." id="button-cart" class="wishlist btn btn-mega btn-lg" data-id="@pro.id_pro" disabled=""></a>
                                                </div>
                                            }
                                            @if (ViewBag.email != null)
                                            {
                                                <div class="add-to-links wish_comp">
                                                    <ul class="blank list-inline">
                                                        <li class="wishlist">
                                                            <a class="icon" data-toggle="tooltip" title=""
                                                               data-idpro="@pro.id_pro">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            { <div class="add-to-links wish_comp">
                                                    <ul class="blank list-inline">
                                                        <li class="wishlist">
                                                            <a class="icon" data-toggle="tooltip" title="">
                                                                <i class="fa fa-heart"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                             }
                                        </div>
                                    </div>
                                    <!-- end box info product -->

                                </div>
                            </div>
                        </div>

                        <section class="col-lg-2 hidden-sm hidden-md hidden-xs slider-products">
                            <div class="module col-sm-12 four-block">
                                <div class="modcontent clearfix">
                                    <div class="policy-detail">
                                        <div class="banner-policy">
                                            <div class="policy policy1">
                                                <a>

                                                    <span class="ico-policy">&nbsp;</span>	TRẢ HÀNG TRONG 12H
                                                    <!-- <br> Hoàn tiền </a> -->
                                            </div>
                                            <div class="policy policy2">
                                                <a> <span class="ico-policy">&nbsp;</span>	MIỄN PHÍ SHIP </a>
                                            </div>
                                            <div class="policy policy3">
                                                <a> <span class="ico-policy">&nbsp;</span>	GIÁ RẺ NHẤT </a>
                                            </div>
                                            <div class="policy policy4">
                                                <a> <span class="ico-policy">&nbsp;</span>	ĐẢM BẢO AN TOÀN </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!-- Product Tabs -->
                    <div class="producttab ">
                        <div class="tabsslider  col-xs-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Mô tả</a></li>
                                <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Đánh giá</a></li>
                                <!-- <li class="item_nonactive"><a data-toggle="tab" href="#tab-5">Tab bổ sung</a></li> -->
                            </ul>
                            <div class="tab-content col-xs-12">
                                <div id="tab-1" class="tab-pane fade active in">
                                    <p>@pro.status</p>
                                </div>
                                <div id="tab-review" class="tab-pane fade">
                                    <div id="review">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                                @foreach (var item in listcmt)
                                                {
                                                    <tr>
                                                        <td style="width: 50%;" colspan="2"><strong>@item.name</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>@item.cmt_detail</p>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    @for (int i = 1; i < 6; i++)
                                                                    {
                                                                        if (i <= item.rate)
                                                                        {
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="fa fa-stack">
                                                                                <i class="fa fa-star-o fa-stack-1x"></i>
                                                                            </span>
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                        <div class="text-right"></div>
                                    </div>
                                        <h2 id="review-title">Viết đánh giá của bạn</h2>
                                        <div class="contacts-form">
                                            <div class="form-group">
                                                <span class="icon icon-user"></span>
                                                @if (ViewBag.email != null)
                                                {
                                                    Users u = Users.FindU(ViewBag.email);
                                                    <input id="name_cmt" type="text" name="name" class="form-control" value="@u.fullname" onblur="if (this.value == '') {this.value = 'Tên của bạn';}" onfocus="if(this.value == 'Tên của bạn') {this.value = '';}">
                                                }
                                                else
                                                {
                                                    <input id="name_cmt" type="text" name="name" class="form-control" value="Tên của bạn" onblur="if (this.value == '') {this.value = 'Tên của bạn';}" onfocus="if(this.value == 'Tên của bạn') {this.value = '';}">                                             
                                                }
                                            </div>
                                            <div class="form-group">
                                                <span class="icon icon-bubbles-2"></span>
                                                <textarea class="form-control" id="comment" name="text" onblur="if (this.value == '') {this.value = 'Để lại bình luận';}" onfocus="if(this.value == 'Để lại bình luận') {this.value = '';}">Để lại bình luận</textarea>
                                            </div>
                                            <div class="form-group">
                                                <b>Đánh giá </b> <span>Tệ</span>&nbsp;
                                                <input type="radio" name="rating" value="1"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="2"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="3"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="4"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="5"> &nbsp;<span>Tốt</span>
                                            </div>
                                            <div class="buttons clearfix"><button id="button-review" type="button" data-id_pro="@pro.id_pro" class="cmt btn buttonGray">Xác nhận</button></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //Product Tabs -->
                    <!-- Related Products -->
                    <div class="related titleLine products-list grid module ">
                        <h3 class="modtitle">Sản phẩm bạn có thể quan tâm </h3>
                        <div class="releate-products ">
                            @foreach (var item in listsug)
                            {
                                Product pro1 = Product.FindProByID(item.id_sug);
                                listimg = Image_product.FindImgByIDPro(pro1.id_pro);
                                <div class="product-layout">
                                    <div class="product-item-container">
                                        <div class="left-block">
                                            <div class="product-image-container second_img ">
                                                <img src="@listimg[0].link" title="@pro1.name_pro" class="img-responsive" />
                                            </div>
                                            <!--Sale Label-->
                                            @if (pro1.discount > 0)
                                            {
                                                <span class="label label-sale">Giảm giá</span>
                                            }
                                            <!--full quick view block-->
                                            <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe"  asp-controller="home" asp-action="quickview" asp-route-id_pro="@pro1.id_pro" asp-route-id_cat="@pro1.id_cat">  Xem nhanh</a>
                                            <!--end full quick view block-->
                                        </div>
                                        <div class="right-block">
                                            <div class="caption">
                                                <h4><a a asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro1.id_pro" asp-route-idcat="@pro1.id_cat">@pro1.name_pro</a></h4>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        @for (int i = 1; i < 6; i++)
                                                        {
                                                            if (i <= pro1.rate)
                                                            {
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                                </span>
                                                            }
                                                            else
                                                            {
                                                                <span class="fa fa-stack">
                                                                    <i class="fa fa-star-o fa-stack-1x"></i>
                                                                </span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                                @if (pro1.discount > 0)
                                                {
                                                    <div class="price">
                                                        @{
                                                            double price_old = (@pro1.price * (100 + @pro1.sale_rate) / 100);
                                                            double price_new = (@pro1.price * (100 + @pro1.sale_rate) / 100 * ((100 - @pro1.discount) / 100));

                                                            <span class="price-new">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                            <span class="price-old">@String.Format("{0:0,0 VNĐ}", price_old)</span>
                                                            <span class="label label-percent">@pro1.discount%</span>
                                                        }
                                                    </div>
                                                }
                                                else
                                                { <div class="price">
                                                        @{
                                                            double price_old = (@pro1.price * (100 + @pro1.sale_rate) / 100);
                                                            double price_new = (@pro1.price * (100 + @pro1.sale_rate) / 100 * ((100 - @pro1.discount) / 100));
                                                            <span class="price-new">@String.Format("{0:0,0 VNĐ}", price_old)</span>
                                                        }
                                                    </div>
                                                }
                                                <div class="description item-desc hidden">
                                                    <p>Mô tả ẩn...</p>
                                                </div>
                                            </div>

                                            <div class="button-group">
                                                @if (ViewBag.email != null)
                                                {
                                                    <a class="addToCart" type="button" data-toggle="tooltip" data-id="@pro1.id_pro"
                                                       title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                    </a>
                                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                                            title="Thêm vào danh sách yêu thích" data-idpro="@pro1.id_pro">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <a class="addToCart" type="button" data-toggle="tooltip" data-id="@pro1.id_pro"
                                                       title="Thêm vào giỏ hàng">
                                                        <i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ hàng</span>
                                                    </a>
                                                    <button class="wishlist" type="button" data-toggle="tooltip"
                                                            title="Thêm vào danh sách yêu thích">
                                                        <i class="fa fa-heart"></i>
                                                    </button>
                                                }
                                            </div>
                                        </div><!-- right block -->

                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>

            </div>
            <!--Middle Part End-->
        </div>
        <!-- //Main Container -->
        @if (ViewBag.email != null)
        {
            @section scripts{
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                <script>
                    $(document).ready(function () {
                        $(".addToCart").click(function () {
                            $.ajax({
                                url: "/CartUser/Buy",
                                data: {
                                    id: $(this).data("id"),
                                    SoLuong: 1,
                                    type: "ajax"
                                },
                                success: function (data) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thêm giỏ hàng thành công',
                                        showConfirmButton: false,
                                        timer: 1300
                                    });
                                    $("#cart").load(location.href + " #cart>*", "");                               
                                },
                                error: function () {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Thêm giỏ hàng thất bại',
                                        text: 'Vui lòng thử lại',
                                        showConfirmButton: false,
                                        timer: 1300
                                    });
                                }
                            });
                        });
                        $(".cmt").click(function () {
                            $.ajax({
                                url: "/Home/Cmt_Product",
                                data: {
                                    id_pro: $(this).data("id_pro"),
                                    name: $("#name_cmt").val(),
                                    rating: $('input[name="rating"]:checked').val(),
                                    text: $("#comment").val(),
                                    type: "ajax"
                                },
                                success: function (data) {
                                    $("#review").load(location.href + " #review>*", "");
                                    $("#ratings").load(location.href + " #ratings>*", "");
                                },
                                error: function () {
                                    $("#review").load(location.href + " #review>*", "");
                                    $("#ratings").load(location.href + " #ratings>*", "");}
                            });
                        }); 
                        $(".wishlist").click(function () {
                            $.ajax({
                                url: "/User/AddWishList",
                                data: {
                                    id_pro: $(this).data("idpro"),
                                    type: "ajax"
                                },
                                success: function (data) {
                                    if (data.check > 0) {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Thêm mặt hàng yêu thích thành công',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    }
                                    else {
                                        Swal.fire({
                                            icon: 'success',
                                            title: 'Mặt hàng đã yêu thích',
                                            showConfirmButton: false,
                                            timer: 1500
                                        });
                                    }
                                },
                                error: function () {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Thêm mặt hàng yêu thích thất bại',
                                        text: 'Vui lòng thử lại',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                            });
                        });
                    });
                </script>
            }
        }
        else
        {
            @section scripts{
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
                <script>
                    $(document).ready(function () {
                        $(".addToCart").click(function () {
                            $.ajax({
                                url: "/Cart/Buy",
                                data: {
                                    id: $(this).data("id"),
                                    SoLuong: 1,
                                    type: "ajax"
                                },
                                success: function (data) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thêm giỏ hàng thành công',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                    $("#cart").load(location.href + " #cart>*", "");
                                },
                                error: function () {
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Thêm giỏ hàng thất bại',
                                        text: 'Vui lòng thử lại',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                            });
                        });
                        $(".cmt").click(function () {
                            $.ajax({
                                url: "/Home/Cmt_Product",
                                data: {
                                    id_pro: $(this).data("id_pro"),
                                    name: $("#name_cmt").val(),
                                    rating: $('input[name="rating"]:checked').val(),
                                    text: $("#comment").val(),
                                    type: "ajax"
                                },
                                success: function (data) {
                                    $("#review").load(location.href + " #review>*", "");
                                },
                                error: function () {
                                    $("#review").load(location.href + " #review>*", "");
                                }
                            });
                        });
                        $(".wishlist").click(function () {
                            Swal.fire('Vui lòng đăng nhập!');
                        });
                    });
                </script>
            }
        }
</body>