@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Product pro = new Product();
    if (ViewBag.pro != null)
    {
        pro = ViewBag.pro;
    }
    Category cat = new Category();

    if (ViewBag.cat != null)
    {
        cat = ViewBag.cat;
    }
    List<Image_product> listimg = new List<Image_product>();
    if(ViewBag.listimg != null)
    {
        listimg = ViewBag.listimg;
    }
    var index = 0;
}
<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a>
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>
        <!-- //end Slider  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
                <li><a asp-controller="home" asp-action="category" asp-route-id="@cat.id_cat">@cat.name_cat</a></li>
                <li><a>@pro.name_pro</a></li>
            </ul>

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-md-12 col-sm-12">

                    <div class="product-view row">
                        <div class="left-content-product col-lg-10 col-xs-12">
                            <div class="row">
                                <div class="content-product-left  col-sm-7 col-xs-12 ">
                                    <div id="thumb-slider-vertical" class="thumb-vertical-outer">
                                            <span class="btn-more prev-thumb nt"><i class="fa fa-angle-up"></i></span>
                                            <span class="btn-more next-thumb nt"><i class="fa fa-angle-down"></i></span>
                                            <ul class="thumb-vertical">
                                                @foreach (var item in listimg)
                                                {

                                                    <li class="owl2-item">
                                                        <a data-index="@index" class="img thumbnail" data-image="@item.link" title="@pro.name_pro">
                                                            <img src="@item.link" title="@pro.name_pro" alt="@pro.name_pro">
                                                        </a>
                                                    </li>
                                                }
                                                </ul>
                                        </div>
                                        <div class="large-image vertical">
                                            <img itemprop="image" class="product-image-zoom" src="@listimg[0].link" title="SP" alt="SP">
                                        </div>
                                   
                                        <a class="thumb-video pull-left" href="https://www.youtube.com/watch?v=crb2APddijE"><i class="fa fa-youtube-play"></i></a>
                                    </div>

                                <div class="content-product-right col-sm-5 col-xs-12">
                                    <div class="title-product">
                                        <h1>@pro.name_pro</h1>
                                    </div>
                                    <!-- Review ---->
                                    <div class="box-review form-group">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                            </div>
                                        </div>

                                        <a class="reviews_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 đánh giá</a>	|
                                        <a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Đánh giá sản phẩm này</a>
                                    </div>

                                    <div class="product-label form-group">
                                        <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                            @if (pro.discount > 0)
                                            {
                                                double price_old = (@pro.price * (100 + @pro.sale_rate) / 100);
                                                double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - @pro.discount) / 100));
                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 vnđ}", price_new)</span>
                                                <span class="price-old">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                            }
                                            else
                                            {
                                                double price_old = (@pro.price * (100 + @pro.sale_rate) / 100);
                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 vnđ}", price_old)</span>
                                                
                                            }

                                        </div>
                                        @if (pro.quantity > 0)
                                        {
                                            <div class="stock"><span>Tình trạng:</span> <span class="status-stock">Còn hàng</span></div>
                                        }
                                        else
                                        {
                                            <div class="stock"><span>Tình trạng:</span> <span class="status-stock">Hết hàng</span></div>
                                        }
                                    </div>

                                    <div class="product-box-desc">
                                        <div class="inner-box-desc">
                                            <div class="brand"><span>Thương hiệu:</span><a href="#"> UIT</a></div>
                                            <div class="origin"><span>Xuất xứ:</span> @pro.origin</div>
                                            <div class="origin"><span>ĐVT:</span> @pro.type</div>
                                        </div>
                                    </div>
                                    <div id="product">                                      
                                        <div class="form-group box-info-product">
                                            <div class="option quantity">
                                                <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                    <label>SL</label>
                                                    <input class="form-control" type="text" name="quantity"
                                                           value="1">
                                                    <input type="hidden" name="product_id" value="50">
                                                    <span class="input-group-addon product_quantity_down">−</span>
                                                    <span class="input-group-addon product_quantity_up">+</span>
                                                </div>
                                            </div>
                                            <div class="cart">
                                                <input type="button" data-toggle="tooltip" title="" value="+ giỏ hàng" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('42', '1');" data-original-title="Thêm vào giỏ hàng">
                                            </div>
                                            <div class="add-to-links wish_comp">
                                                <ul class="blank list-inline">
                                                    <li class="wishlist">
                                                        <a class="icon" data-toggle="tooltip" title=""
                                                           onclick="wishlist.add('50');" data-original-title="Thêm vào danh sách yêu thích">

                                                            <i class="fa fa-heart"></i>
                                                        </a>
                                                    </li>
                                                    <li class="compare">
                                                        <a class="icon" data-toggle="tooltip" title=""
                                                           onclick="compare.add('50');" data-original-title="So sánh sản phẩm">

                                                            <i class="fa fa-exchange"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- end box info product -->

                                </div>
                            </div>
                        </div>

                        <section class="col-lg-2 hidden-sm hidden-md hidden-xs slider-products">
                            <div class="module col-sm-12 four-block">
                                <div class="modcontent clearfix">
                                    <div class="policy-detail">
                                        <div class="banner-policy">
                                            <div class="policy policy1">
                                                <a href="#">

                                                    <span class="ico-policy">&nbsp;</span>	TRẢ HÀNG TRONG 12H
                                                    <!-- <br> Hoàn tiền </a> -->
                                            </div>
                                            <div class="policy policy2">
                                                <a href="#"> <span class="ico-policy">&nbsp;</span>	MIỄN PHÍ SHIP </a>
                                            </div>
                                            <div class="policy policy3">
                                                <a href="#"> <span class="ico-policy">&nbsp;</span>	GIÁ RẺ NHẤT </a>
                                            </div>
                                            <div class="policy policy4">
                                                <a href="#"> <span class="ico-policy">&nbsp;</span>	ĐẢM BẢO AN TOÀN </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <!-- Product Tabs -->
                    <div class="producttab ">
                        <div class="tabsslider  col-xs-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-1">Mô tả</a></li>
                                <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Đánh giá</a></li>
                               
                                <!-- <li class="item_nonactive"><a data-toggle="tab" href="#tab-5">Tab bổ sung</a></li> -->
                            </ul>
                            <div class="tab-content col-xs-12">
                                <div id="tab-1" class="tab-pane fade active in">
                                    <p>@pro.status</p>
                                </div>
                                <div id="tab-review" class="tab-pane fade">
                                    <form>
                                        <div id="review">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%;"><strong>Tên người đánh giá</strong></td>
                                                        <td class="text-right">05/12/2021</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <p>Sản phẩm này khá tốt</p>
                                                            <div class="ratings">
                                                                <div class="rating-box">
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="text-right"></div>
                                        </div>
                                        <h2 id="review-title">Viết đánh giá của bạn</h2>
                                        <div class="contacts-form">
                                            <div class="form-group">

                                                <span class="icon icon-user"></span>
                                                <input type="text" name="name" class="form-control" value="Tên của bạn" onblur="if (this.value == '') {this.value = 'Tên của bạn';}" onfocus="if(this.value == 'Tên của bạn') {this.value = '';}">
                                            </div>
                                            <div class="form-group">

                                                <span class="icon icon-bubbles-2"></span>
                                                <textarea class="form-control" name="text" onblur="if (this.value == '') {this.value = 'Để lại bình luận';}" onfocus="if(this.value == 'Để lại bình luận') {this.value = '';}">Để lại bình luận</textarea>
                                            </div>
                                            <div class="form-group">
                                                <b>Đánh giá </b> <span>Tệ</span>&nbsp;
                                                <input type="radio" name="rating" value="1"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="2"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="3"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="4"> &nbsp;
                                                <input type="radio" name="rating"
                                                       value="5"> &nbsp;<span>Tốt</span>
                                            </div>
                                            <div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Xác nhận</a></div>
                                        </div>
                                    </form>
                                </div>                   
                            </div>
                        </div>
                    </div>
                    <!-- //Product Tabs -->
                    <!-- Related Products -->
                    <div class="related titleLine products-list grid module ">
                        <h3 class="modtitle">Sản phẩm bạn có thể quan tâm  </h3>
                        <div class="releate-products ">
                            <div class="product-layout">
                                <div class="product-item-container">
                                    <div class="left-block">
                                        <div class="product-image-container second_img ">
                                            <img src="~/image/demo/shop/product/e11.jpg" title="Apple Cinema 30&quot;" class="img-responsive" />
                                            <img src="~/image/demo/shop/product/e12.jpg" title="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                        </div>
                                        <!--Sale Label-->
                                        <span class="label label-sale">Giảm giá</span>
                                        <!--full quick view block-->
                                        <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" href="quickview.html">  Xem nhanh</a>
                                        <!--end full quick view block-->
                                    </div>


                                    <div class="right-block">
                                        <div class="caption">
                                            <h4><a href="product.html">Sản phẩm 1</a></h4>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                </div>
                                            </div>

                                            <div class="price">
                                                <span class="price-new">100.000đ</span>
                                                <span class="price-old">120.000đ</span>
                                                <span class="label label-percent">-20%</span>

                                            </div>
                                            <div class="description item-desc hidden">
                                                <p>Mô tả ẩn...</p>
                                            </div>
                                        </div>

                                        <div class="button-group">
                                            <button class="addToCart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ</span></button>
                                            <button class="wishlist" type="button" data-toggle="tooltip" title="Thêm vào danh sách yêu thích" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                                            <button class="compare" type="button" data-toggle="tooltip" title="So sánh sản phẩm" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div><!-- right block -->

                                </div>
                            </div>

                            <div class="product-layout ">
                                <div class="product-item-container">
                                    <div class="left-block">
                                        <div class="product-image-container second_img ">
                                            <img src="~/image/demo/shop/product/e11.jpg" title="Apple Cinema 30&quot;" class="img-responsive" />
                                            <img src="~/image/demo/shop/product/e12.jpg" title="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                        </div>
                                        <!--Sale Label-->
                                        <span class="label label-sale">Giảm giá</span>
                                        <!--full quick view block-->
                                        <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" href="quickview.html">  Xem nhanh</a>
                                        <!--end full quick view block-->
                                    </div>


                                    <div class="right-block">
                                        <div class="caption">
                                            <h4><a href="product.html">Sản phẩm 2</a></h4>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                </div>
                                            </div>

                                            <div class="price">
                                                <span class="price-new">100.000đ</span>
                                                <span class="price-old">120.000đ</span>
                                                <span class="label label-percent">-20%</span>

                                            </div>
                                            <div class="description item-desc hidden">
                                                <p>Mô tả ẩn...</p>
                                            </div>
                                        </div>

                                        <div class="button-group">
                                            <button class="addToCart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ</span></button>
                                            <button class="wishlist" type="button" data-toggle="tooltip" title="Thêm vào danh sách yêu thích" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                                            <button class="compare" type="button" data-toggle="tooltip" title="So sánh sản phẩm" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div><!-- right block -->

                                </div>
                            </div>
                            <div class="product-layout ">
                                <div class="product-item-container">
                                    <div class="left-block">
                                        <div class="product-image-container second_img ">
                                            <img src="~/image/demo/shop/product/e11.jpg" title="Apple Cinema 30&quot;" class="img-responsive" />
                                            <imgsrc ="~/image/demo/shop/product/e12.jpg" title="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                        </div>
                                        <!--Sale Label-->
                                        <span class="label label-sale">Giảm giá</span>
                                        <!--full quick view block-->
                                        <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" href="quickview.html">  Xem nhanh</a>
                                        <!--end full quick view block-->
                                    </div>
                                    <div class="right-block">
                                        <div class="caption">
                                            <h4><a href="product.html">Sản phẩm 3</a></h4>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                </div>
                                            </div>

                                            <div class="price">
                                                <span class="price-new">100.000đ</span>
                                                <span class="price-old">120.000đ</span>
                                                <span class="label label-percent">-20%</span>

                                            </div>
                                            <div class="description item-desc hidden">
                                                <p>Mô tả ẩn...</p>
                                            </div>
                                        </div>

                                        <div class="button-group">
                                            <button class="addToCart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ</span></button>
                                            <button class="wishlist" type="button" data-toggle="tooltip" title="Thêm vào danh sách yêu thích" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                                            <button class="compare" type="button" data-toggle="tooltip" title="So sánh sản phẩm" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div><!-- right block -->

                                </div>
                            </div>
                            <div class="product-layout ">
                                <div class="product-item-container">
                                    <div class="left-block">
                                        <div class="product-image-container second_img ">
                                            <img src="~/image/demo/shop/product/e11.jpg" title="Apple Cinema 30&quot;" class="img-responsive" />
                                            <img src="~/image/demo/shop/product/e12.jpg" title="Apple Cinema 30&quot;" class="img_0 img-responsive" />
                                        </div>
                                        <!--Sale Label-->
                                        <span class="label label-sale">Giảm giá</span>
                                        <!--full quick view block-->
                                        <a class="quickview iframe-link visible-lg" data-fancybox-type="iframe" href="quickview.html">  Xem nhanh</a>
                                        <!--end full quick view block-->
                                    </div>


                                    <div class="right-block">
                                        <div class="caption">
                                            <h4><a href="product.html">Sản phẩm 4</a></h4>
                                            <div class="ratings">
                                                <div class="rating-box">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                                                </div>
                                            </div>

                                            <div class="price">
                                                <span class="price-new">100.000đ</span>
                                                <span class="price-old">120.000đ</span>
                                                <span class="label label-percent">-20%</span>

                                            </div>
                                            <div class="description item-desc hidden">
                                                <p>Mô tả ẩn...</p>
                                            </div>
                                        </div>

                                        <div class="button-group">
                                            <button class="addToCart" type="button" data-toggle="tooltip" title="Thêm vào giỏ" onclick="cart.add('42', '1');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs">Thêm vào giỏ</span></button>
                                            <button class="wishlist" type="button" data-toggle="tooltip" title="Thêm vào danh sách yêu thích" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></button>
                                            <button class="compare" type="button" data-toggle="tooltip" title="So sánh sản phẩm" onclick="compare.add('42');"><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </div><!-- right block -->

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!--Middle Part End-->
        </div>
        <!-- //Main Container -->

</body>