@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    Product pro = ViewBag.pro;
    Category cat = ViewBag.cat;
    List<Image_product> listimg = Image_product.FindImgByIDPro(pro.id_pro);
    int index = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UITGreen247 - Health for Life</title>

    <link rel="shortcut icon" href="~/ico/favicon.png">

    <!-- Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/css/themecss/lib.css" rel="stylesheet">
    <link href="~/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/js/lightslider/lightslider.css" rel="stylesheet">

    <link href="~/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="~/css/themecss/so-categories.css" rel="stylesheet">
    <link href="~/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="~/css/header7.css" rel="stylesheet">
    <link href="~/css/footer4.css" rel="stylesheet">
    <link href="~/css/checkout.css" rel="stylesheet">

    <link id="color_scheme" href="~/css/home7.css" rel="stylesheet">

    <!-- Responsive-->
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Main Container  -->
        <div class="main-container container">

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-md-12 col-sm-12">

                    <div class="product-view row">
                        <div class="left-content-product col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="content-product-left  col-sm-6 col-xs-12 ">
                                    <div class="large-image  ">
                                        <img itemprop="image" class="product-image-zoom" src="@listimg[0].link" title="@pro.name_pro" />
                                    </div>
                                    <div id="thumb-slider" class="owl-theme owl-loaded owl-drag full_slider">
                                        @foreach (var item in listimg)
                                        {
                                            if (item.link != null)
                                            {
                                                <a data-index="@index" class="img thumbnail " data-image="@item.link" title="@pro.name_pro">
                                                    <img src="@item.link" title="@pro.name_pro" alt="@pro.name_pro" />
                                                    @{index = index + 1;}
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="content-product-right col-sm-6 col-xs-12">
                                    <div class="title-product">
                                        <h1>@pro.name_pro</h1>
                                    </div>
                                    <!-- Review ---->
                                    <div class="box-review form-group">
                                        <div class="ratings">
                                            <div class="rating-box">
                                                @for (int i = 1; i < 6; i++)
                                                {
                                                    if (i <= pro.rate)
                                                    {
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="fa fa-stack">
                                                            <i class="fa fa-star-o fa-stack-1x"></i>
                                                        </span>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <a class="reviews_button">0 đánh giá </a>
                                    </div>

                                    <div class="product-label form-group">
                                        <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
                                            @if (pro.discount > 0)
                                            {
                                                double price_old = (@pro.price * (100 + @pro.sale_rate) / 100);
                                                double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - @pro.discount) / 100));
                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                <span class="price-old">@String.Format("{0:0,0 VNĐ}", price_old)</span>
                                            }
                                            else
                                            {
                                                double price_old = (@pro.price * (100 + @pro.sale_rate) / 100);
                                                <span class="price-new" itemprop="price">@String.Format("{0:0,0 VNĐ}", price_old)</span>

                                            }
                                        </div>
                                        @if (pro.quantity > 0)
                                        {
                                            <div class="stock"><span>Tình trạng:</span> <span class="status-stock">Còn hàng</span></div>
                                        }
                                        else
                                        {
                                            <div class="stock"><span>Tình trạng:</span> <span class="status-stock">Hết hàng</span></div>
                                        }
                                    </div>

                                    <div class="product-box-desc">
                                        <div class="inner-box-desc">
                                            <div class="brand"><span>Thương hiệu:</span><a> UIT</a></div>
                                            <div class="origin"><span>Xuất xứ:</span> @pro.origin</div>
                                            <div class="origin"><span>ĐVT:</span> @pro.type</div>
                                        </div>
                                    </div>
                                     <p>@pro.status</p>
                                    <div id="product">
                                        <p></p>
                                        @*<div class="form-group box-info-product">
                                            <div class="option quantity">
                                                <div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
                                                    <label>SL </label>
                                                    <input class="form-control" type="text" id="sl" name="quantity" value="1" />
                                                    <input type="hidden" name="product_id" value="50" />
                                                    <span class="input-group-addon product_quantity_down">− </span>
                                                    <span class="input-group-addon product_quantity_up">+ </span>
                                                </div>
                                            </div>
                                            @if (pro.quantity > 0)
                                            {
                                                <div class="cart">
                                                    <a><input type="button" data-toggle="tooltip" value="+ giỏ hàng" data-loading-text="Loading..." id="button-cart" class="addToCart btn btn-mega btn-lg" data-id="@pro.id_pro"></a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="cart">
                                                    <a><input type="button" data-toggle="tooltip" value="+ giỏ hàng" data-loading-text="Loading..." id="button-cart" class="addToCart btn btn-mega btn-lg" data-id="@pro.id_pro" disabled=""></a>
                                                </div>
                                            }
                                            @if (ViewBag.email != null)
                                            {
                                                <div class="add-to-links wish_comp">
                                                    <ul class="blank list-inline">
                                                        <li>
                                                            <button class="wishlist btn btn-default btn-lg" data-toggle="tooltip" title="" type="button"
                                                                    data-idpro="@pro.id_pro">
                                                                <i class="fa fa-heart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }
                                            else
                                            { <div class="add-to-links wish_comp">
                                                    <ul class="blank list-inline">
                                                        <li>
                                                            <button class="wishlist icon" data-toggle="tooltip" title="">
                                                                <i class="fa fa-heart"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            }

                                        </div>*@

                                    </div>
                                    <!-- end box info product -->

                                </div>
                            </div>
                        </div>


                    </div>



                </div>


            </div>
            <!--Middle Part End-->
        </div>
        <!-- //Main Container -->
        <style type="text/css">
            #wrapper {
                box-shadow: none;
            }

                #wrapper > *:not(.main-container) {
                    display: none;
                }

            #content {
                margin: 0
            }

            .container {
                width: 100%;
            }

            .product-info .product-view, .left-content-product, .box-info-product {
                margin: 0;
            }

                .left-content-product .content-product-right .box-info-product .cart input {
                    padding: 12px 16px;
                }

                .left-content-product .content-product-right .box-info-product .add-to-links {
                    width: auto;
                    float: none;
                    margin-top: 0px;
                    clear: none;
                }

            .add-to-links ul li {
                margin: 0;
            }
        </style>
    </div>
    @if (ViewBag.email != null)
    {
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    $(".addToCart").click(function () {
                        $.ajax({
                            url: "/CartUser/Buy",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: $("#sl").val(),
                                type: "ajax"
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thêm giỏ hàng thành công',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                                $("#cart").load(location.href + " #cart>*", "");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm giỏ hàng thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1300
                                });
                            }
                        });
                    });
                    $(".wishlist").click(function () {
                        $.ajax({
                            url: "/User/AddWishList",
                            data: {
                                id_pro: $(this).data("idpro"),
                                type: "ajax"
                            },
                            success: function (data) {
                                if (data.check > 0) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Thêm mặt hàng yêu thích thành công',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                                else {
                                    Swal.fire({
                                        icon: 'success',
                                        title: 'Mặt hàng đã yêu thích',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });
                                }
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm mặt hàng yêu thích thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });
                });
            </script>
        }
    }
    else
    {
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    $(".addToCart").click(function () {
                        $.ajax({
                            url: "/Cart/Buy",
                            data: {
                                id: $(this).data("id"),
                                SoLuong: $("#sl").val(),
                                type: "ajax"
                            },
                            success: function (data) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Thêm giỏ hàng thành công',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $("#cart").load(location.href + " #cart>*", "");
                            },
                            error: function () {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Thêm giỏ hàng thất bại',
                                    text: 'Vui lòng thử lại',
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        });
                    });
                    $(".wishlist").click(function () {
                        Swal.fire('Vui lòng đăng nhập!');
                    });
                });
            </script>
        }
    }
    <!-- Include Libs & Plugins
    ============================================ -->
    <script type="text/javascript" src="~/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/modernizr/modernizr-2.6.2.min.js"></script>
    <!-- <script type="text/javascript" src="~/js/lightslider/lightslider.js"></script> -->
    <!-- <script type="text/javascript" src="~/js/product_detail.js"></script> -->
    <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="~/js/themejs/application.js"></script>
    <script type="text/javascript" src="~/js/themejs/homepage.js"></script>
    <script type="text/javascript" src="~/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/js/themejs/addtocart.js"></script>

</body>
</html>