@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Users u = Users.FindU(ViewBag.email);
    List<Wishlist> list = Wishlist.Select(u.id);
    List<Product> listpro = Product.ListPro();
    List<Image_product> listimg = new List<Image_product>();
}
<body class="res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a href="#">
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>
        <!-- //end Slider  -->
        <!-- //Header Container  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
                <li><a asp-controller="user" asp-action="wishlist">Danh sách yêu thích</a></li>
            </ul>
            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-sm-9">
                    <h2 class="title">Danh sách yêu thích</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td class="text-center">Sản phẩm</td>
                                    <td class="text-left">Tên</td>
                                    <td class="text-right">Giá</td>
                                    <td class="text-right"></td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in list)
                                {
                                    @foreach (var item1 in listpro)
                                    {
                                        if (item.id_pro == item1.id_pro)
                                        {
                                            listimg = Image_product.FindImgByIDPro(item1.id_pro);
                                            double price_new = (@item1.price * (100 + @item1.sale_rate) / 100 * ((100 - @item1.discount) / 100));
                                            <tr>
                                                <td class="text-center">
                                                    <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item1.id_pro" asp-route-idcat="@item1.id_cat">
                                                        <img width="70px" src="@listimg[0].link"
                                                             alt="sp" title="sp">
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item1.id_pro" asp-route-idcat="@item1.id_cat">@item1.name_pro</a>
                                                </td>
                                                <td class="text-right">
                                                    <div class="price">
                                                        <span class="price-new">@String.Format("{0:0,0 VNĐ}", price_new)</span>
                                                    </div>

                                                </td>
                                                <td class="text-right">
                                                    @if (item1.quantity > 0)
                                                    {
                                                        <button class="addToCart btn btn-primary" title="" data-toggle="tooltip"
                                                                data-id="@item1.id_pro" type="button"
                                                                data-original-title="Thêm vào giỏ hàng">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button class="addToCart btn btn-primary" title="" data-toggle="tooltip" disabled=""
                                                                data-id="@item1.id_pro" type="button"
                                                                data-original-title="Thêm vào giỏ hàng">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </button>
                                                    }
                                                    <a class="btn btn-danger" title="" data-toggle="tooltip" asp-controller="user" asp-action="deletewishlist" asp-route-id_pro="@item1.id_pro"
                                                       data-original-title="Xóa"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Middle Part End-->
                <aside class="col-sm-3 hidden-xs" id="column-right">
                    <h2 class="subtitle">Tài khoản</h2>
                    <div class="list-group">
                        <ul class="list-item">
                            <li>
                                <a asp-controller="user" asp-action="myaccount">Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a asp-controller="user" asp-action="password">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a asp-controller="order" asp-action="order_history">Lịch sử đơn hàng</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
        <!-- //Main Container -->

    </div>
    @section scripts{
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            $(document).ready(function () {
                $(".addToCart").click(function () {
                    $.ajax({
                        url: "/CartUser/Buy",
                        data: {
                            id: $(this).data("id"),
                            SoLuong: 1,
                            type: "ajax"
                        },
                        success: function (data) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Thêm giỏ hàng thành công',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            $("#cart").load(location.href + " #cart>*", "");
                        },
                        error: function () {
                            Swal.fire({
                                icon: 'error',
                                title: 'Thêm giỏ hàng thất bại',
                                text: 'Vui lòng thử lại',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                });             
            });
        </script>
    }
</body>

