<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UITGreen247 - Health for Life</title>

	<link rel="shortcut icon" href="~/ico/favicon.png">

    <!-- Google Font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
	<link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="~/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="~/js/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="~/css/themecss/lib.css" rel="stylesheet">
	<link href="~/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/js/lightslider/lightslider.css" rel="stylesheet">

	<link href="~/css/themecss/so_megamenu.css" rel="stylesheet">
	<link href="~/css/themecss/so-categories.css" rel="stylesheet">
	<link href="~/css/themecss/so-listing-tabs.css" rel="stylesheet">
	<link href="~/css/header.css" rel="stylesheet">
	<link href="~/css/footer.css" rel="stylesheet">
    <link href="~/css/checkout.css" rel="stylesheet">

	<link id="color_scheme" href="~/css/home.css" rel="stylesheet">

    <!-- Responsive-->
	<link href="~/css/responsive.css" rel="stylesheet">
</head>
@{
    List<Category> list = new List<Category>();
    List<Category> listCat = new List<Category>();
    if (ViewBag.list != null)
    {
        list = ViewBag.list;
    }
    if (ViewBag.listCat != null)
    {
        listCat = ViewBag.listCat;
    }
    List<Category> list1 = new List<Category>();
    List<Category> list2 = new List<Category>();
    List<Category> list3 = new List<Category>();
    List<Category> list4 = new List<Category>();

    list1 = Category.FindCatChildByID(1);
    list2 = Category.FindCatChildByID(3);
    list3 = Category.FindCatChildByID(6);
    list4 = Category.FindCatChildByID(9);

    List<Image_product> listimg = new List<Image_product>();
    List<Cart> listcart = new List<Cart>();
}
<body>
    <!-- Header Container  -->
    <header id="header" class="variantleft type_7">

        <!-- Header Top -->
        <div class="header-top compact-hidden">
            <div class="container">
                <div class="row">
                    <div class="header-top-left form-inline col-sm-5 col-xs-12 compact-hidden">
                    </div>
                    <div class="header-top-right collapsed-block text-right  col-sm-7 col-xs-12 compact-hidden">
                        <h5 class="tabBlockTitle visible-xs">
                            Thêm<a class="expander " href="#TabBlock-1">
                                <i class="fa fa-angle-down"></i>
                            </a>
                        </h5>
                        <div class="tabBlock" id="TabBlock-1">
                            <ul class="top-link list-inline">
                                @if (ViewBag.email != null)
                                {
                                <li class="account" id="my_account">

                                    <a asp-controller="user" asp-action="myaccount" title="My Account"
                                       class="btn btn-xs dropdown-toggle">

                                        <i class="fa fa-user"></i> @ViewBag.email
                                    </a>
                                </li>
                                <li class="wish">
                                    <a asp-controller="user" asp-action="wishlist" class="top-link-wishlist"
                                       title="wishlist"><i class="fa fa-heart"></i> Yêu thích</a>
                                </li>
                                <li class="checkout">
                                    <a asp-controller="cartuser" asp-action="checkout" class="top-link-checkout"
                                       title="Checkout"><i class="fa fa-check-square-o"></i> Thanh toán</a>
                                </li>
                                <li class="signin">
                                    <a asp-controller="user" asp-action="logout" class="top-link-checkout" title="login">
                                        <i class="fa fa-unlock"></i> Đăng xuất
                                    </a>
                                </li>
                                }
                                else
                                {
                                <li>
                                    <a asp-controller="user" asp-action="login" title="My Account"
                                       class="btn btn-xs dropdown-toggle">

                                        <i class="fa fa-user"></i> Tài khoản
                                    </a>
                                </li>
                                <li class="checkout">
                                    <a asp-controller="cart" asp-action="checkout" class="top-link-checkout"
                                       title="Checkout"><i class="fa fa-check-square-o"></i> Thanh toán</a>
                                </li>
                                <li class="signin">
                                    <a asp-controller="user" asp-action="login" class="top-link-checkout" title="login">
                                        <i class="fa fa-lock"></i> Đăng nhập
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Header Top -->
        <!-- Header center -->
        <div class="header-center">
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="navbar-logo col-md-3 col-sm-12 col-xs-12">
                        <a asp-controller="home" asp-action="index">
                            <img src="~/image/demo/logos/logo.png" title="UITGreen@247"
                                 alt="UITGreen@247">
                        </a>
                    </div>
                    <!-- //end Logo -->
                    <!-- Search -->
                    <div id="sosearchpro" class="col-md-5 col-sm-7 search-pro">
                        <form method="post" asp-controller="home" asp-action="search">
                            <div id="search0" class="search input-group">
                                <div class="select_category filter_type icon-select">
                                    <select class="no-border" name="id">
                                        <option value="0">Tất cả danh mục</option>
                                        @foreach (var item in listCat)
                                        {
                                        <option value="@item.id_cat">@item.name_cat</option>
                                        }
                                    </select>
                                </div>
                                <input class="autosearch-input form-control" type="text" value="" size="50"
                                       autocomplete="off" placeholder="Quý khách vui lòng nhập từ khóa để tìm kiếm..."
                                       name="search">
                                <span class="input-group-btn">
                                    <button type="submit" class="button-search btn btn-primary"
                                            name="submit_search">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <input type="hidden" value="product/search">
                        </form>
                    </div>
                    <!-- //Search -->

                    <!-- Menu chính -->
                    <div class="phone-contact col-md-2  hidden-md hidden-sm hidden-xs">
                        <div class="inner-info">
                            <strong>Đặt hàng qua hotline:</strong><br>
                            <span> 0123-456-789</span>
                        </div>
                    </div>
                    <!-- //Menu chính -->
                    @if (ViewBag.email == null)
                    {
                        <!-- Ô giỏ hàng -->
                    <div id="slsp" class="col-lg-2 col-md-3 col-sm-4 col-xs-12 shopping_cart pull-right">
                        <!--Giỏ hàng-->
                        <div id="cart" class="btn-group btn-shopping-cart">
                            <a data-loading-text="Loading..." class="top_cart dropdown-toggle"
                               data-toggle="dropdown">
                                <div class="shopcart">
                                    <span class="handle pull-left"></span>
                                    <span class="title">Giỏ hàng</span>
                                    @if (ViewBag.cart != null)
                                        {
                                    <p class="text-shopping-cart cart-total-full">@ViewBag.cart.Count sản phẩm - @String.Format("{0:0,0 vnđ}", ViewBag.total)</p>
                                        }
                                        else
                                        {
                                    <p class="text-shopping-cart cart-total-full">0 sản phẩm - 0vnđ</p>
                                        }
                                </div>
                            </a>
                            <ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
                                <li>
                                    <table class="table table-striped">
                                        <tbody>
                                            @if (ViewBag.cart != null)
                                                {
                                                    int i = 0;
                                            @foreach (var item in ViewBag.cart)
                                                    {
                                            @if (i == 5)
                                                        {
                                                            break;
                                                        }
                                                        listimg = Image_product.FindImgByIDPro(item.Product.id_pro);
                                                        double price_new = (@item.Product.price * (100 + @item.Product.sale_rate) / 100 * ((100 - @item.Product.discount) / 100));
                                            <tr>
                                                <td class="text-center" style="width:70px">
                                                    <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.Product.id_pro" asp-route-idcat="@item.Product.id_cat">
                                                        <img src="@listimg[0].link"
                                                             style="width:70px" alt="@item.Product.name_pro" title="@item.Product.name_pro"
                                                             class="preview">
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    <a class="cart_product_name"
                                                       asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.Product.id_pro" asp-route-idcat="@item.Product.id_cat">@item.Product.name_pro</a>
                                                </td>
                                                <td class="text-center">@item.Quantity</td>
                                                <td class="text-center">@String.Format("{0:0,0 vnđ}", price_new * item.Quantity)</td>
                                                @{
                                                                i = i + 1;
                                                }
                                            </tr>
                                                    }
                                                }
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                @if (ViewBag.cart != null)
                                                    {
                                                @if (ViewBag.cart != null && ViewBag.cart.Count > 5)
                                                        {
                                                            int sl = ViewBag.cart.Count - 5;
                                                <tr>
                                                    <td colspan="2" style="text-align:center;">Và @sl sản phẩm</td>
                                                </tr>
                                                        }
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng tiền hàng</strong>
                                                    </td>
                                                    <td class="text-right">@String.Format("{0:0,0 vnđ}", ViewBag.total)</td>
                                                </tr>

                                                <tr>
                                                    <td class="text-left">
                                                        <strong>VAT: </strong>
                                                    </td>
                                                    <td class="text-right">Bao gồm trong sản phẩm</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng thanh toán</strong>
                                                    </td>
                                                    <td class="text-right">@String.Format("{0:0,0 vnđ}", ViewBag.total)</td>
                                                </tr>
                                                    }
                                                    else
                                                    {
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng tiền hàng</strong>
                                                    </td>
                                                    <td class="text-right">0 vnđ</td>
                                                </tr>

                                                <tr>
                                                    <td class="text-left">
                                                        <strong>VAT: </strong>
                                                    </td>
                                                    <td class="text-right">Bao gồm trong sản phẩm</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng thanh toán</strong>
                                                    </td>
                                                    <td class="text-right">0 vnđ</td>
                                                </tr>
                                                    }
                                            </tbody>
                                        </table>

                                        <p class="text-right">
                                            <a class="btn view-cart" asp-controller="cart" asp-action="index">
                                                <i class="fa fa-shopping-cart"></i>Xem giỏ
                                                hàng
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--//giỏ hàng-->
                    </div>
                    }
                    else
                    {
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 shopping_cart pull-right">
                        <!--Giỏ hàng-->
                        <div id="cart" class="btn-group btn-shopping-cart">
                            <a data-loading-text="Loading..." class="top_cart dropdown-toggle"
                               data-toggle="dropdown">
                                <div class="shopcart">
                                    <span class="handle pull-left"></span>
                                    <span class="title">Giỏ hàng</span>
                                    @if (ViewBag.cart != null)
                                        {
                                    <p class="text-shopping-cart cart-total-full">@ViewBag.cart.Count sản phẩm - @String.Format("{0:0,0 vnđ}", ViewBag.total)</p>
                                        }
                                        else
                                        {
                                    <p class="text-shopping-cart cart-total-full">0 sản phẩm - 0vnđ</p>
                                        }
                                </div>
                            </a>
                            <ul class="tab-content content dropdown-menu pull-right shoppingcart-box" role="menu">
                                <li>
                                    <table class="table table-striped">
                                        <tbody>
                                            @if (ViewBag.cart != null)
                                                {
                                                    int i = 0;
                                            @foreach (var item in ViewBag.cart)
                                                    {
                                            @if (i == 5)
                                                        {
                                                            break;
                                                        }
                                                        Product pro = Product.FindProByID(item.Product.id_pro);
                                                        listimg = Image_product.FindImgByIDPro(item.Product.id_pro);
                                                        double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - @pro.discount) / 100));
                                            <tr>
                                                <td class="text-center" style="width:70px">
                                                    <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro.id_pro" asp-route-idcat="@pro.id_cat">
                                                        <img src="@listimg[0].link"
                                                             style="width:70px" alt="@pro.name_pro" title="@pro.name_pro"
                                                             class="preview">
                                                    </a>
                                                </td>
                                                <td class="text-left">
                                                    <a class="cart_product_name"
                                                       asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro.id_pro" asp-route-idcat="@pro.id_cat">@pro.name_pro</a>
                                                </td>
                                                <td class="text-center">@item.Quantity</td>
                                                <td class="text-center">@String.Format("{0:0,0 VNĐ}", price_new * item.Quantity)</td>
                                                @{
                                                                i = i + 1;
                                                }
                                            </tr>
                                                    }
                                                }
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                                @if (ViewBag.cart != null)
                                                    {
                                                @if (ViewBag.cart != null && ViewBag.cart.Count > 5)
                                                        {
                                                            int sl = ViewBag.cart.Count - 5;
                                                <tr>
                                                    <td colspan="2" style="text-align:center;">Và @sl sản phẩm</td>
                                                </tr>
                                                        }
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng tiền hàng</strong>
                                                    </td>
                                                    <td class="text-right">@String.Format("{0:0,0 VNĐ}", ViewBag.total)</td>
                                                </tr>

                                                <tr>
                                                    <td class="text-left">
                                                        <strong>VAT: </strong>
                                                    </td>
                                                    <td class="text-right">Bao gồm trong sản phẩm</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng thanh toán</strong>
                                                    </td>
                                                    <td class="text-right">@String.Format("{0:0,0 vnđ}", ViewBag.total)</td>
                                                </tr>
                                                    }
                                                    else
                                                    {
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng tiền hàng</strong>
                                                    </td>
                                                    <td class="text-right">0 vnđ</td>
                                                </tr>

                                                <tr>
                                                    <td class="text-left">
                                                        <strong>VAT: </strong>
                                                    </td>
                                                    <td class="text-right">Bao gồm trong sản phẩm</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left">
                                                        <strong>Tổng thanh toán</strong>
                                                    </td>
                                                    <td class="text-right">0 vnđ</td>
                                                </tr>
                                                    }
                                            </tbody>
                                        </table>
                                        <p class="text-right">
                                            <a class="btn view-cart" asp-controller="cartuser" asp-action="index">
                                                <i class="fa fa-shopping-cart"></i>Xem giỏ
                                                hàng
                                            </a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--//giỏ hàng-->
                    </div>
                    }
                    <!-- //Ô giỏ hàng -->
                </div>

            </div>
        </div>
        <!-- //Header center -->
        <!-- Header Bottom -->
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom__content">
                    <div class="row">
                        <!-- Sidebar menu -->
                        <div class="sidebar-menu col-md-3 col-sm-6 col-xs-12  ">
                            <div class="responsive so-megamenu ">
                                <div class="so-vertical-menu no-gutter compact-hidden">
                                    <nav class="navbar-default">
                                        <div class="container-megamenu vertical">
                                            <div id="menuHeading">
                                                <div class="megamenuToogle-wrapper">
                                                    <div class="megamenuToogle-pattern">
                                                        <div class="container">
                                                            <div>
                                                                <span></span>
                                                                <span></span>
                                                                <span></span>
                                                            </div>
                                                            Tất cả danh mục

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="navbar-header">
                                                <button type="button" id="show-verticalmenu" data-toggle="collapse"
                                                        class="navbar-toggle fa fa-list-alt">
                                                </button>
                                                Tất cả danh mục
                                            </div>
                                            <div class="vertical-wrapper" style="display: none;">
                                                <span id="remove-verticalmenu" class="fa fa-times"></span>
                                                <div class="megamenu-pattern">
                                                    <div class="container">
                                                        <ul class="megamenu">
                                                            @foreach (var item in listCat)
                                                            {
                                                            <li class="item-vertical css-menu with-sub-menu hover">
                                                                <p class="close-menu"></p>
                                                                <a href="#" class="clearfix">

                                                                    <!-- <img src="~/image/theme/icons/2.png" alt="icon"> -->
                                                                    <span>@item.name_cat</span>
                                                                    <b class="caret"></b>
                                                                </a>
                                                                <div class="sub-menu" data-subwidth="30"
                                                                     style="width: 270px; display: none; right: 0px;">
                                                                    <div class="content" style="display: none;">
                                                                        <div class="row">
                                                                            <div class="col-sm-12">
                                                                                <div class="row">
                                                                                    <div class="col-sm-12 hover-menu">
                                                                                        <div class="menu">
                                                                                            <ul>

                                                                                                @foreach (var item1 in list)
                                                                                                    {
                                                                                                        if (item1.id_parent == item.id_cat)
                                                                                                        {
                                                                                                <li>
                                                                                                    <a asp-controller="home" asp-action="category" asp-route-id="@item1.id_cat"
                                                                                                       class="main-menu">@item1.name_cat</a>
                                                                                                </li>
                                                                                                        }
                                                                                                    }
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            }
                                                            <!-- <li class="loadmore">
                                                                <i class="fa fa-plus-square-o"></i>
                                                                <span class="more-view">Mở rộng</span>
                                                            </li> -->
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>

                        </div>

                        <!-- Main menu -->
                        <div class="megamenu-hori col-md-9 col-sm-6 col-xs-12 ">
                            <div class="responsive so-megamenu ">
                                <nav class="navbar-default">
                                    <div class=" container-megamenu  horizontal">
                                        <div class="navbar-header">
                                            <button type="button" id="show-megamenu" data-toggle="collapse"
                                                    class="navbar-toggle">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            Danh sách trang
                                        </div>

                                        <div class="megamenu-wrapper">
                                            <span id="remove-megamenu" class="fa fa-times"></span>
                                            <div class="megamenu-pattern">
                                                <div class="container">
                                                    <ul class="megamenu " data-transition="slide"
                                                        data-animationtime="250">
                                                        <li class="home hover">
                                                            <a asp-controller="home" asp-action="index">Trang chủ </a>
                                                        </li>
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a href="#" class="clearfix">
                                                                <strong>Quản lý</strong>
                                                                <!-- <img class="label-hot"
                                                                    src="~/image/theme/icons/hot-icon.png"
                                                                    alt="icon items"> -->
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu" style="width: 100%; right: auto;">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-md-5">
                                                                            <div class="column">
                                                                                <a class="title-submenu">Mua sắm</a>
                                                                                <div>
                                                                                    <ul class="row-list">
                                                                                        
                                                                                        @if (ViewBag.email != null)
                                                                                        {
                                                                                        <li><a asp-controller="cartuser" asp-action="index">Giỏ hàng</a></li>
                                                                                        <li><a asp-controller="cartuser" asp-action="checkout">Thanh toán</a></li>
                                                                                        <li><a asp-controller="user" asp-action="wishlist">Yêu thích</a></li>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                        <li><a asp-controller="cart" asp-action="index">Giỏ hàng</a></li>
                                                                                        <li><a asp-controller="cart" asp-action="checkout">Thanh toán</a></li>
                                                                                        <li><a asp-controller="user" asp-action="register">Yêu thích</a></li>
                                                                                        }
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <div class="column">
                                                                                <a href="#" class="title-submenu">Tài khoản</a>
                                                                                <div>
                                                                                    <ul class="row-list">
                                                                                        @if (ViewBag.email == null)
                                                                                        {
                                                                                        <li><a asp-controller="user" asp-action="login">Đăng nhập</a></li>
                                                                                        <li><a asp-controller="user" asp-action="register">Đăng ký</a></li>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                        <li>
                                                                                            <a asp-controller="user" asp-action="myaccount">Thông tin tài khoản</a>
                                                                                        </li>
                                                                                        <li>
                                                                                            <a asp-controller="order" asp-action="order_history">Lịch sử đặt hàng</a>
                                                                                        </li>

                                                                                        }
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a asp-controller="home" asp-action="about_us" class="clearfix">
                                                                <strong>GIỚI THIỆU</strong>
                                                            </a>
                                                        </li>
                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a class="clearfix">
                                                                <strong>NỔI BẬT</strong>
                                                                <span class="label"></span>
                                                                <img class="label-hot"
                                                                     src="~/image/theme/icons/hot-icon.png"
                                                                     alt="icon items">
                                                                <b class="caret"></b>
                                                            </a>
                                                            <div class="sub-menu"
                                                                 style="width: 100%; display: none;">
                                                                <div class="content">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="row">
                                                                                <div class="col-md-3 img img1">
                                                                                    <a href="#">
                                                                                        <img src="~/image/demo/cms/1.jpg"
                                                                                             alt="banner1">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3 img img2">
                                                                                    <a href="#">
                                                                                        <img src="~/image/demo/cms/2.jpg"
                                                                                             alt="banner2">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3 img img3">
                                                                                    <a href="#">
                                                                                        <img src="~/image/demo/cms/3.jpg"
                                                                                             alt="banner3">
                                                                                    </a>
                                                                                </div>
                                                                                <div class="col-md-3 img img4">
                                                                                    <a href="#">
                                                                                        <img src="~/image/demo/cms/4.jpg"
                                                                                             alt="banner4">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-3">
                                                                            <a asp-controller="home" asp-action="category" asp-route-id=""
                                                                               class="title-submenu">Thực phẩm tươi sống</a>
                                                                            <div class="row">
                                                                                <div class="col-md-12 hover-menu">
                                                                                    <div class="menu">
                                                                                        <ul>
                                                                                            @foreach (var item in list1)
                                                                                            {
                                                                                            <li>
                                                                                                <a asp-controller="home" asp-action="category" asp-route-id="@item.id_cat"
                                                                                                   class="main-menu">@item.name_cat</a>
                                                                                            </li>

                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <a class="title-submenu">Đồ hộp</a>
                                                                            <div class="row">
                                                                                <div class="col-md-12 hover-menu">
                                                                                    <div class="menu">
                                                                                        <ul>
                                                                                            @foreach (var item in list2)
                                                                                            {
                                                                                            <li>
                                                                                                <a asp-controller="home" asp-action="category" asp-route-id="@item.id_cat"
                                                                                                   class="main-menu">@item.name_cat</a>
                                                                                            </li>

                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <a class="title-submenu">Các loại sữa</a>
                                                                            <div class="row">
                                                                                <div class="col-md-12 hover-menu">
                                                                                    <div class="menu">
                                                                                        <ul>
                                                                                            @foreach (var item in list3)
                                                                                            {
                                                                                            <li>
                                                                                                <a asp-controller="home" asp-action="category" asp-route-id="@item.id_cat"
                                                                                                   class="main-menu">@item.name_cat</a>
                                                                                            </li>
                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <a href="#" class="title-submenu">Thực phẩm đông lạnh</a>
                                                                            <div class="row">
                                                                                <div class="col-md-12 hover-menu">
                                                                                    <div class="menu">
                                                                                        <ul>
                                                                                            @foreach (var item in list4)
                                                                                            {
                                                                                            <li>
                                                                                                <a asp-controller="home" asp-action="category" asp-route-id="@item.id_cat"
                                                                                                   class="main-menu">@item.name_cat</a>
                                                                                            </li>

                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        <li class="with-sub-menu hover">
                                                            <p class="close-menu"></p>
                                                            <a asp-controller="home" asp-action="contact" class="clearfix">
                                                                <strong>LIÊN HỆ</strong>
                                                            </a>

                                                        </li>
                                                        <li class="">
                                                            <p class="close-menu"></p>
                                                            <a asp-controller="blog" asp-action="index" class="clearfix">
                                                                <strong>TIN TỨC</strong>
                                                                <span class="label"></span>
                                                            </a>
                                                        </li>
                                                        <li class="pull-right">
                                                            <a asp-controller="home" asp-action="category" asp-route-id="12"
                                                               title="Special Offer!"><strong>MUA NGAY!</strong></a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <!-- //end Main menu -->
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-container type_footer4">
        <!-- Footer Top Container -->
        <section class="footer-top">
            <div class="container content">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
                        <div class="subscribe module clearfix modLine subscribe-home">
                            <h3 class="modtitle">Đăng ký nhận tin tức </h3>
                            <div class=" modcontent align-center">
                                <div class="input-group">
                                    <input name="email" type="email" class="emailsub form-control"
                                           onfocus="if(this.value=='Nhập địa chỉ email của bạn') this.value='';"
                                           onblur="if(this.value=='') this.value='Nhập địa chỉ email của bạn';"
                                           value="Nhập địa chỉ email của bạn"
                                           data-validate="{required:true, 'validate-email':true}">
                                    <span class="input-group-btn">
                                        <button type="button" class="sub button-search btn btn-primary"
                                                name="submit_search">
                                            Đăng kí
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                        <div class="module clearfix modLine footer--social">
                            <h3 class="modtitle">Theo dõi ở</h3>
                            <div class="modcontent">
                                <div class="icons-social">

                                    <div class="list-inline">
                                        <a title="Facebook" href="http://www.facebook.com/"
                                           target="_blank">
                                            <span class="fa fa-facebook icon-circled icon-color"></span>
                                        </a>

                                        <a title="Twitter" href="https://twitter.com/" target="_blank">
                                            <span class="fa fa-twitter icon-circled icon-color"></span>
                                        </a>

                                        <a title="Instagram" href="#" target="_blank">
                                            <span class="fa fa-instagram icon-circled icon-color"></span>
                                        </a>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /Footer Top Container -->

        <section class="footer-center">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 box-information">
                        <div class="module clearfix">
                            <h3 class="modtitle">THÔNG TIN</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    <li><a asp-controller="home" asp-action="about_us">Giới thiệu</a></li>
                                    <li><a asp-controller="home" asp-action="contact">Liên hệ</a></li>
                                    <li><a asp-controller="blog" asp-action="index">Tin tức</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 box-service">
                        <div class="module clearfix">
                            <h3 class="modtitle">MUA SẮM</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    @if (ViewBag.email != null)
                                    {
                                        <li><a asp-controller="cartuser" asp-action="index">Giỏ hàng</a></li>
                                        <li><a asp-controller="cartuser" asp-action="checkout">Thanh toán</a></li>
                                        <li><a asp-controller="order" asp-action="order_history">Lịch sử đơn hàng</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="cart" asp-action="index">Giỏ hàng</a></li>
                                        <li><a asp-controller="cart" asp-action="checkout">Thanh toán</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 box-account">
                        <div class="module clearfix">
                            <h3 class="modtitle">TÀI KHOẢN</h3>
                            <div class="modcontent">
                                <ul class="menu">
                                    @if (ViewBag.email != null)
                                    {
                                        <li><a asp-controller="user" asp-action="myaccount">Thông tin tài khoản</a></li>
                                        <li><a asp-controller="user" asp-action="wishlist">Yêu thích</a></li>
                                    }
                                    else
                                    {
                                        <li><a asp-controller="user" asp-action="login">Đăng nhập</a></li>
                                        <li><a asp-controller="user" asp-action="register">Đăng kí</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3 collapsed-block ">
                        <div class="module clearfix">
                            <h3 class="modtitle">LIÊN HỆ </h3>
                            <div class="modcontent">
                                <ul class="contact-address">
                                    <li><span class="fa fa-map-marker"></span> Khu phố 6, phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh</li>
                                    <li>
                                        <span class="fa fa-envelope-o"></span> Email: <a href="#">
                                            uitgreen247@gmail.com
                                        </a>
                                    </li>
                                    <li>
                                        <span class="fa fa-phone">&nbsp;</span> SĐT 1: 0123456789 <br>SĐT 2:
                                        (123) 4567890
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <hr class="footer-lines no-margin-bottom">
                </div>
            </div>
        </section>

        <!-- Footer Bottom Container -->
        <div class="footer-bottom-block ">
            <div class=" container">
                <div class="row">
                    <div class="col-sm-5 copyright-text">
                        © 2021 Nhóm 4. Trường Đại học Công nghệ Thông tin - ĐHQG
                        TP.HCM.
                    </div>
                    <div class="col-sm-7">
                        <div class="block-payment text-right">
                            <img src="~/image/demo/content/payment.png"
                                 alt="payment" title="payment">
                        </div>
                    </div>
                    <!--Lên đầu trang-->
                    <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Lên đầu trang </span></div>

                </div>
            </div>
        </div>
        
    </footer>

    <!-- Libs & Plugins -->
    <script type="text/javascript" src="~/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/themejs/libs.js"></script>
    <script type="text/javascript" src="~/js/unveil/jquery.unveil.js"></script>
    <script type="text/javascript" src="~/js/countdown/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="~/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/moment.js"></script>
    <script type="text/javascript" src="~/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/modernizr/modernizr-2.6.2.min.js"></script>
    <!-- <script type="text/javascript" src="~/js/lightslider/lightslider.js"></script> -->
    <!-- <script type="text/javascript" src="~/js/product_detail.js"></script> -->
    
    <!-- Theme -->
    <script type="text/javascript" src="~/js/themejs/application.js"></script>
    <script type="text/javascript" src="~/js/themejs/homepage.js"></script>
    <script type="text/javascript" src="~/js/themejs/so_megamenu.js"></script>
    <script type="text/javascript" src="~/js/themejs/addtocart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $(".sub").click(function () {
                $.ajax({
                    url: "/Home/Subscribe",
                    data: {
                        email: $(".emailsub").val(),
                        type: "ajax"
                    },
                    success: function (data) {
                        if (data.check > 0) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Đăng kí thành công',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Đã đăng kí',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                        $(".subscribe").load(location.href + " .subscribe>*", "");
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Đăng kí thất bại',
                            text: 'Vui lòng thử lại',
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                });
            });
        });
    </script>
</body>
</html>
