@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Image_product> listimg = new List<Image_product>();
}
<body>
    <!-- Slider  -->
    <section class="so-slideshow">
        <div id="so-slideshow">
            <div class="module  no-margin">
                <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                     data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                     data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                     data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                    <div class="yt-content-slide">
                        <a href="#">
                            <img src="image/demo/slider/home7/background-header.png" alt="slider1"
                                 class="img-responsive">
                        </a><br>
                    </div>
                </div>
                <div class="loadeding"></div>
            </div>
        </div>

    </section>
    <!-- //end Slider  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
            <li><a asp-controller="cart" asp-action="index">Giỏ hàng của bạn</a></li>
        </ul>
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h2 class="title">Giỏ hàng của bạn</h2>
                <div class="table-responsive form-group">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td class="text-center">Sản phẩm</td>
                                <td class="text-left">Tên sản phẩm</td>
                                <td class="text-left">Số lượng</td>
                                <td class="text-left">ĐVT</td>
                                <td class="text-right">Giá</td>
                                <td class="text-right">Giá tổng</td>
                                <td class="text-right">Tình trạng</td>
                                <td class="text-right">Thao tác</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.cart != null)
                            {
                                @foreach (var item in ViewBag.cart)
                                {
                                    listimg = Image_product.FindImgByIDPro(item.Product.id_pro);
                            <tr>
                                <td class="text-center">
                                    <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.Product.id_pro" asp-route-idcat="@item.Product.id_cat">
                                        <img width="70px"
                                             src="@listimg[0].link" alt="@item.Product.name_pro"
                                             title="@item.Product.name_pro" class="img-thumbnail" />
                                    </a>
                                </td>
                                <td class="text-left">
                                    <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@item.Product.id_pro" asp-route-idcat="@item.Product.id_cat">@item.Product.name_pro</a><br />
                                </td>
                                <td class="text-left" width="200px">
                                    <div class="input-group btn-block quantity">
                                        <span class="input-group-btn">
                                            <a id="minus" type="button" data-toggle="tooltip" asp-controller="cart" asp-action="minus" asp-route-idpro="@item.Product.id_pro"
                                               class="btn">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </span>
                                        <input id="sl" type="text" name="quantity" value="@item.Quantity" size="1" class="form-control" readonly />
                                        <span class="input-group-btn">
                                            <a type="button" data-toggle="tooltip" asp-controller="cart" asp-action="plus" asp-route-idpro="@item.Product.id_pro"
                                               class="btn">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <p>@item.Product.type</p>
                                </td>
                                @{
                                    double price_new = (@item.Product.price * (100 + @item.Product.sale_rate) / 100 * ((100 - @item.Product.discount) / 100));
                                }
                                <td class="text-right">@String.Format("{0:0,0 vnđ}", price_new)</td>
                                <td class="text-right">@String.Format("{0:0,0 vnđ}", price_new * item.Quantity)</td>
                                @if (item.Product.quantity > 0)
                                {
                                    <td class="text-right">
                                        <p>Còn hàng</p>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-right">
                                        <p>Hết hàng</p>
                                    </td>
                                }
                                <td class="text-right">
                                    <a type="button" data-toggle="tooltip" asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.id_pro"
                                       class="btn" onClick="">
                                        <i class="fa fa-minus-circle"></i> Xóa
                                    </a>
                                </td>
                            </tr>
                                }

                            }
                        </tbody>

                    </table>

                </div>

                <div class="buttons">
                    <div class="pull-left"><a asp-controller="home" asp-action="category" asp-route-id="12" class="btn btn-primary">Tiếp tục mua sắm</a></div>
                    <div class="pull-right"><a asp-controller="cart" asp-action="checkout" class="btn btn-primary">Thanh toán</a></div>
                </div>
            </div>
            <!--Middle Part End -->

        </div>
    </div>
    <!-- //Main Container -->
</body>