@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Image_product> listimg = new List<Image_product>();
    Product pro = new Product();
    double total = 0;
    Users u = Users.FindU(ViewBag.email);
    List<Province> listprovince = Province.Select();
}
<body class="res layout-subpage">
    <!-- Slider  -->
    <section class="so-slideshow">
        <div id="so-slideshow">
            <div class="module  no-margin">
                <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                     data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                     data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                     data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                    <div class="yt-content-slide">
                        <a>
                            <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                 class="img-responsive">
                        </a><br>
                    </div>
                </div>
                <div class="loadeding"></div>
            </div>
        </div>

    </section>
    <!-- //end Slider  -->
    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
            <li><a asp-controller="cartuser" asp-action="checkout">Thanh toán</a></li>
        </ul>
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-12">
                <h2 class="title">Thanh toán</h2>
                <div class="so-onepagecheckout ">
                    <form method="post" asp-controller="cartuser" asp-action="updateadd">
                        <div class="col-left col-sm-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-user"></i> Thông tin khách hàng</h4>
                                </div>
                                <div class="panel-body">
                                    <fieldset id="account">
                                        <div class="form-group required">
                                            <label for="input-payment-firstname" class="control-label">Họ tên</label>
                                            <input type="text" class="form-control" id="input-payment-firstname" placeholder="Họ tên" value="@u.fullname" name="firstname" oninvalid="this.setCustomValidity('Hy vọng bạn điền đầy đủ tên')" oninput="setCustomValidity('')" required="">
                                        </div>

                                        <div class="form-group required">
                                            <label for="input-payment-email" class="control-label">E-mail</label>
                                            <input type="text" class="form-control" id="input-payment-email" placeholder="E-mail" value="@u.email" name="email" readonly>
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-telephone" class="control-label">Số điện thoại</label>
                                            <input type="text" class="form-control" id="input-payment-telephone" placeholder="Số điện thoại" value="@u.phone" name="telephone" oninvalid="this.setCustomValidity('Hy vọng bạn điền đúng và đầy đủ số điện thoại')" oninput="setCustomValidity('')" required="">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa fa-book"></i> Địa chỉ giao hàng</h4>
                                </div>
                                <div class="panel-body">
                                    <fieldset id="address" class="required">
                                        <div class="form-group">
                                            <label for="input-payment-address-1" class="control-label">Số nhà / Tên đường</label>
                                            <input type="text" class="form-control" id="input-payment-address-1" placeholder="Số nhà / Tên đường" value="@ViewBag.add1" name="addr1" oninvalid="this.setCustomValidity('Hy vọng bạn điền đầy đủ nơi giao hàng')" oninput="setCustomValidity('')" required="">
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-address-2" class="control-label">Xã / Phường</label>
                                            <input type="text" class="form-control" id="input-payment-address-2" placeholder="Xã / Phường" value="@ViewBag.add2" name="addr2" oninvalid="this.setCustomValidity('Hy vọng bạn điền đầy đủ nơi giao hàng')" oninput="setCustomValidity('')" required="">
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-city" class="control-label">Quận / Huyện</label>
                                            <input type="text" class="form-control" id="input-payment-city" placeholder="Quận / Huyện" value="@ViewBag.district" name="city" oninvalid="this.setCustomValidity('Hy vọng bạn điền đầy đủ nơi giao hàng')" oninput="setCustomValidity('')" required="">
                                        </div>
                                        <div class="form-group required">
                                            <label for="input-payment-zone" class="control-label">Tỉnh / Thành Phố</label>
                                            <select class="form-control" id="input-payment-zone" name="zone">
                                                @foreach (var item in listprovince)
                                                {
                                                    if (ViewBag.city == item.name_province)
                                                    {
                                                        <option value="@item.name_province" selected="selected">@item.name_province</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.name_province">@item.name_province</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </fieldset>
                                    <div class="buttons">
                                        <div class="pull-right">
                                            <input type="submit" class="btn btn-primary" id="button-confirm" value="Cập nhật địa chỉ">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form methot="post" asp-controller="cartuser" asp-action="payment">
                        <div class="col-right col-sm-9">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default no-padding">
                                        <div class="col-sm-6 checkout-shipping-methods">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-truck"></i> Phương thức vận chuyển</h4>
                                            </div>
                                            <div class="panel-body ">
                                                <p>Vui lòng chọn phương thức vận chuyển mà bạn mong muốn.</p>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked="checked" name="ship" value="1">
                                                        Vận chuyển tiết kiệm
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="ship" value="2">
                                                        Vận chuyển trong 2h
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6  checkout-payment-methods">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-credit-card"></i> Phương thức thanh toán</h4>
                                            </div>
                                            <div class="panel-body">
                                                <p>Vui lòng chọn phương thức thanh toán mà bạn mong muốn.</p>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked="checked" name="pay" value="1">Tiền mặt
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="pay" value="2">Thanh toán online
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-ticket"></i> Bạn có mã khuyến mãi?</h4>
                                            </div>
                                            <div class="panel-body row">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="input-coupon" placeholder="Nhập mã khuyến mãi" value="" name="coupon">
                                                    <span class="input-group-btn">
                                                        <input type="button" class="coupon btn btn-primary" data-loading-text="Loading..." id="button-coupon" value="Áp dụng">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Giỏ hàng</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td class="text-center">Sản phẩm</td>
                                                                <td class="text-left">Tên</td>
                                                                <td class="text-left">Số lượng</td>
                                                                <td class="text-right">Đơn giá</td>
                                                                <td class="text-right">Tổng</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @if (ViewBag.cart != null)
                                                            {
                                                                @foreach (var item in ViewBag.cartcheckout)
                                                                {
                                                                    listimg = Image_product.FindImgByIDPro(item.Product.id_pro);
                                                                    pro = Product.FindProByID(item.Product.id_pro);
                                                                    double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - @pro.discount) / 100));
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro.id_pro" asp-route-idcat="@pro.id_cat">
                                                                                <img width="60px" src="@listimg[0].link" alt="@pro.name_pro" title="@pro.name_pro" class="img-thumbnail">
                                                                            </a>
                                                                        </td>
                                                                        <td class="text-left">
                                                                            <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro.id_pro" asp-route-idcat="@pro.id_cat">
                                                                                @pro.name_pro
                                                                            </a>
                                                                        </td>
                                                                        <td class="text-left">
                                                                            <div class="input-group btn-block" style="min-width: 100px;">
                                                                                <input type="text" name="quantity" value="@item.Quantity" size="1" class="form-control" readonly />
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">@String.Format("{0:0,0 VNĐ}", price_new)</td>
                                                                        <td class="text-right">@String.Format("{0:0,0 VNĐ}", price_new * item.Quantity)</td>
                                                                    </tr>
                                                                    total += (price_new * item.Quantity);
                                                                }
                                                            }

                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Tổng sản phẩm:</strong></td>
                                                                <td id="total" data-total="@total" class="text-right">@String.Format("{0:0,0 VNĐ}", total)</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Phí VAT:</strong></td>
                                                                <td class="text-right">Đã bao gồm trong sản phẩm</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Phí vận chuyển:</strong></td>
                                                                <td id="ship" data-ship="@ViewBag.ship" class="text-right">@String.Format("{0:0,0 VNĐ}", ViewBag.ship)</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Giảm giá:</strong></td>
                                                                <td id="discount1" data-disc="0" class="text-right">0 VNĐ</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Tổng thanh toán:</strong></td>
                                                                <td id="price_sum" class="text-right">@String.Format("{0:0,0 VNĐ}", total + ViewBag.ship)</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-pencil"></i> Thêm ghi chú cho đơn hàng</h4>
                                            </div>
                                            <div class="panel-body">
                                                <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                                                <br>
                                                <label class="control-label" for="confirm_agree">
                                                    <input type="checkbox" checked="checked" value="1" class="validate required" id="confirm_agree" name="confirm agree" oninvalid="this.setCustomValidity('Bạn đã đồng ý với điều khoản?')" oninput="setCustomValidity('')" required="">
                                                    <span>Tôi đã đọc và đồng ý với <a class="agree" href="#"><b>Điều khoản & Chính sách</b></a></span>
                                                </label>
                                                <div class="buttons">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-primary" id="button-confirm" value="Xác nhận">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Middle Part End -->
            </div>
        </div>

        <!-- //Main Container -->
        @section scripts{
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <script>
                $(document).ready(function () {
                    let sum = 0;
                    var total = document.getElementById("total");
                    var message = document.getElementById('ship');
                    var price_sum = document.getElementById('price_sum');
                    var discount = document.getElementById('discount1');
                    $(".coupon").click(function () {
                        $.ajax({
                            url: "/CartUser/CheckPromotion",
                            data: {
                                coupon: $("#input-coupon").val(),
                                type: "ajax"
                            },
                            success: function (data) {
                                console.log(data);
                                Swal.fire({
                                    icon: 'success',
                                    title: data.nofi,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                $('#discount1').attr("data-disc", data.discount);
                                discount.innerHTML = discount.dataset.disc.toLocaleString('vi-VN') + ' VNĐ';
                                sum = parseInt(total.dataset.total) + parseInt(message.dataset.ship) - parseInt(discount.dataset.disc);
                                price_sum.innerHTML = sum.toLocaleString() + ' VNĐ';
                            },
                            error: function () {

                            }
                        });
                    });
                });
            </script>
        }
</body>
