@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Image_product> listimg = new List<Image_product>();
    Product pro = new Product();
    double total = 0;
}
<body class="res layout-subpage">
    <!-- Slider  -->
    <section class="so-slideshow">
        <div id="so-slideshow">
            <div class="module  no-margin">
                <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                     data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                     data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                     data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                    <div class="yt-content-slide">
                        <a href="#">
                            <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                 class="img-responsive">
                        </a><br>
                    </div>
                </div>
                <div class="loadeding"></div>
            </div>
        </div>

    </section>
    <!-- //end Slider  -->
    <!-- Main Container  -->
    <form methot="post" asp-controller="cart" asp-action="payment">
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
                <li><a asp-controller="cartuser" asp-action="checkout">Thanh toán</a></li>
            </ul>
            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-sm-12">
                    <h2 class="title">Thanh toán</h2>
                    <div class="so-onepagecheckout ">           
                        <div class="col-right col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default no-padding">
                                        <div class="col-sm-6 checkout-shipping-methods">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-truck"></i> Phương thức vận chuyển</h4>
                                            </div>
                                            <div class="panel-body ">
                                                <p>Vui lòng chọn phương thức vận chuyển mà bạn mong muốn.</p>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked="checked" name="ship" value="Tiết kiệm">
                                                        Vận chuyển tiết kiệm
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="ship" value="Nhanh 2h">
                                                        Vận chuyển trong 2h
                                                    </label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-6  checkout-payment-methods">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-credit-card"></i> Phương thức thanh toán</h4>
                                            </div>
                                            <div class="panel-body">
                                                <p>Vui lòng chọn phương thức thanh toán mà bạn mong muốn.</p>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" checked="checked" name="pay" value="Tiền mặt">Tiền mặt
                                                    </label>
                                                </div>

                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="pay" value="Online">Thanh toán online
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-ticket"></i> Bạn có mã khuyến mãi?</h4>
                                            </div>
                                            <div class="panel-body row">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="input-coupon" placeholder="Nhập mã khuyến mãi" value="" name="coupon">
                                                    <span class="input-group-btn">
                                                        <input type="button" class="btn btn-primary" data-loading-text="Loading..." id="button-coupon" value="Áp dụng">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Giỏ hàng</h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <td class="text-center">Sản phẩm</td>
                                                                <td class="text-left">Tên</td>
                                                                <td class="text-left">Số lượng</td>
                                                                <td class="text-right">Đơn giá</td>
                                                                <td class="text-right">Tổng</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @if (ViewBag.cart != null)
                                                            {
                                                                @foreach (var item in ViewBag.cart)
                                                                {
                                                                    listimg = Image_product.FindImgByIDPro(item.id_pro);
                                                                    pro = Product.FindProByID(item.id_pro);
                                                                    double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - @pro.discount) / 100));
                                                                    <tr>
                                                                        <td class="text-center">
                                                                            <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro.id_pro" asp-route-idcat="@pro.id_cat">
                                                                                <img width="60px" src="@listimg[0].link" alt="@pro.name_pro" title="@pro.name_pro" class="img-thumbnail">
                                                                            </a>
                                                                        </td>
                                                                        <td class="text-left">
                                                                            <a asp-controller="home" asp-action="product_detail" asp-route-idpro="@pro.id_pro" asp-route-idcat="@pro.id_cat">
                                                                                @pro.name_pro
                                                                            </a>
                                                                        </td>
                                                                        <td class="text-left">
                                                                            <div class="input-group btn-block" style="min-width: 100px;">
                                                                                <input type="text" name="quantity" value="@item.quantity" size="1" class="form-control" readonly />
                                                                            </div>
                                                                        </td>
                                                                        <td class="text-right">@String.Format("{0:0,0 vnđ}", price_new)</td>
                                                                        <td class="text-right">@String.Format("{0:0,0 vnđ}", price_new * item.quantity)</td>
                                                                    </tr>
                                                                    total += (price_new * item.quantity);
                                                                }
                                                            }

                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Tổng sản phẩm:</strong></td>
                                                                <td id="total" class="text-right">@String.Format("{0:0,0 vnđ}", total)</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Phí VAT:</strong></td>
                                                                <td class="text-right">Đã bao gồm trong sản phẩm</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Phí vận chuyển:</strong></td>
                                                                <td id="ship" class="text-right">@String.Format("{0:0,0 vnđ}", ViewBag.ship)</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="text-right" colspan="4"><strong>Tổng thanh toán:</strong></td>
                                                                <td id="price_sum" class="text-right">@String.Format("{0:0,0 vnđ}", total+ViewBag.ship)</td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><i class="fa fa-pencil"></i> Thêm ghi chú cho đơn hàng</h4>
                                            </div>
                                            <div class="panel-body">
                                                <textarea rows="4" class="form-control" id="confirm_comment" name="comments"></textarea>
                                                <br>
                                                <label class="control-label" for="confirm_agree">
                                                    <input type="checkbox" checked="checked" value="1" required="" class="validate required" id="confirm_agree" name="confirm agree">
                                                    <span>Tôi đã đọc và đồng ý với <a class="agree" href="#"><b>Điều khoản & Chính sách</b></a></span>
                                                </label>
                                                <div class="buttons">
                                                    <div class="pull-right">
                                                        <input type="submit" class="btn btn-primary" id="button-confirm" value="Xác nhận">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Middle Part End -->

                </div>
            </div>
    </form>
    <!-- //Main Container -->
</body>
