@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Orders_user ord = ViewBag.ord;
    List<Order_user_items> listitem = ViewBag.listitem;
    List<Order_status> liststatus = ViewBag.liststatus;
    Product pro = new Product();
}
<body class="common-home res layout-subpage">
    <div id="wrapper" class="wrapper-full ">
        <!-- Slider  -->
        <section class="so-slideshow">
            <div id="so-slideshow">
                <div class="module  no-margin">
                    <div class="yt-content-slider yt-content-slider--arrow1" data-autoplay="no" data-autoheight="no"
                         data-delay="4" data-speed="0.6" data-margin="0" data-items_column0="1" data-items_column1="1"
                         data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="yes"
                         data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a href="#">
                                <img src="~/image/demo/slider/home7/background-header.png" alt="slider1"
                                     class="img-responsive">
                            </a><br>
                        </div>
                    </div>
                    <div class="loadeding"></div>
                </div>
            </div>

        </section>
        <!-- //end Slider  -->
        <!-- Main Container  -->
        <div class="main-container container">
            <ul class="breadcrumb">
                <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i></a></li>
                <li><a asp-controller="user" asp-action="order_information" asp-route-id="@ord.id_ord">Thông tin đơn hàng</a></li>
            </ul>

            <div class="row">
                <!--Middle Part Start-->
                <div id="content" class="col-sm-9">
                    <h2 class="title">Thông tin đơn hàng</h2>

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td colspan="2" class="text-left">Chi tiết đơn hàng</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 50%;" class="text-left">
                                    <b>Mã đơn hàng:</b> @ord.id_ord
                                    <br>
                                    <b>Ngày lập:</b> @ord.date
                                </td>
                                <td style="width: 50%;" class="text-left">
                                    @if (ord.paymethod == 1)
                                    {
                                        <b>Phương thức thanh toán: Tiền mặt</b>
                                    }
                                    else
                                    {
                                        <b>Phương thức thanh toán: Thanh toán online</b>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td style="width: 100%; vertical-align: top;" class="text-left">Địa chỉ giao hàng</td>
                                <!-- <td style="width: 50%; vertical-align: top;" class="text-left">XX</td> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left">
                                    @liststatus[0].address
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td class="text-left">Tên sản phẩm</td>
                                    <td class="text-right">Số lượng</td>
                                    <td class="text-right">Giá</td>
                                    <td class="text-right">Tổng</td>
                                    <!-- <td style="width: 20px;"></td> -->
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in listitem)
                                {
                                    pro = Product.FindProByID(item.id_pro);
                                    double price_new = (@pro.price * (100 + @pro.sale_rate) / 100 * ((100 - pro.discount) / 100));
                                    double total = price_new * item.quantity;
                                    <tr>
                                        <td class="text-left">@pro.name_pro</td>
                                        <td class="text-right">@item.quantity</td>
                                        <td class="text-right">@String.Format("{0:0,0 VNĐ}", price_new)</td>
                                        <td class="text-right">@String.Format("{0:0,0 VNĐ}", total)</td>
                                    </tr>

                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="text-right">
                                        <b>Tổng sản phẩm</b>
                                    </td>
                                    @{
                                        double discount = Promotion.selectbyid(ord.id_promotion).discount;
                                        double price = ord.price_sum - ord.ship + discount;
                                    }
                                    <td class="text-right">@String.Format("{0:0,0 VNĐ}", price)</td>

                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="text-right">
                                        <b>Phí vận chuyển</b>
                                    </td>
                                    <td class="text-right">@String.Format("{0:0,0 VNĐ}", ord.ship)</td>

                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="text-right">
                                        <b>Giảm giá</b>
                                    </td>
                                    <td class="text-right">@String.Format("{0:0,0 VNĐ}", discount)</td>

                                </tr>
                                <tr>
                                    <td colspan="2"></td>
                                    <td class="text-right">
                                        <b>Tổng thanh toán</b>
                                    </td>
                                    <td class="text-right">@String.Format("{0:0,0 VNĐ}", ord.price_sum)</td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <h3>Lịch sử trạng thái đơn hàng</h3>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-left">Ngày</td>
                                <td class="text-left">Trạng thái</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in liststatus)
                            {
                                <tr>
                                    <td class="text-left">@item.date</td>
                                    <td class="text-left">@item.status</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="buttons clearfix">
                        @if (ord.status == 0)
                        {
                            <div class="pull-left">
                                <a class="return btn btn-primary"  onclick="return confirm('Bạn có muốn hủy đơn?');" asp-controller="order" asp-action="return" asp-route-id_ord="@ord.id_ord">Hủy đơn</a>
                            </div>
                        }
                        <div class="pull-right">
                            <a class="btn btn-primary" asp-controller="user" asp-action="order_history">Trở lại</a>
                        </div>
                    </div>

                </div>
                <!--Middle Part End-->
                <!--Right Part Start -->
                <aside class="col-sm-3 hidden-xs" id="column-right">
                    <h2 class="subtitle">Tài khoản</h2>
                    <div class="list-group">
                        <ul class="list-item">
                            <li>
                                <a asp-controller="user" asp-action="myaccount">Thông tin tài khoản</a>
                            </li>
                            <li>
                                <a asp-controller="user" asp-action="password">Đổi mật khẩu</a>
                            </li>
                            <li>
                                <a asp-controller="user" asp-action="wishlist">Danh sách yêu thích</a>
                            </li>
                            <li>
                                <a asp-controller="order" asp-action="order_history">Lịch sử đặt hàng</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <!--Right Part End -->
            </div>
        </div>
        <!-- //Main Container -->
    </div>
 
</body>